openapi: 3.1.0
info:
  title: Flashcards Open Source App External AI-Agent API
  version: v1
  description: >-
    Curated public API contract for external AI agents. This is not a complete
    backend route inventory: first-party app endpoints can remain live while
    intentionally omitted from this published specification. This document
    excludes internal sync transport, local chat runtime endpoints, and
    human-only agent connection management.
  # These info URLs are static canonical reference values for the published
  # spec, consistent with the static `servers:` block above. The env-driven,
  # per-deploy public/legal links (self-hosters set their own domain) live in
  # the discovery envelope `links` block, not here.
  termsOfService: https://flashcards-open-source-app.com/terms/
  contact:
    name: Flashcards Open Source App support
    url: https://flashcards-open-source-app.com/support/
    email: kirill+flashcards@kirill-markin.com
  license:
    name: MIT
    url: https://github.com/kirill-markin/flashcards-open-source-app/blob/main/LICENSE
servers:
  - url: https://api.flashcards-open-source-app.com/v1
    description: >-
      Canonical API host for discovery, bootstrap, docs, and external agent
      tools
  - url: https://auth.flashcards-open-source-app.com
    description: Auth host for agent auth bootstrap
tags:
  - name: discovery
    description: Discovery entry points for the external AI-agent contract.
  - name: auth
    description: >-
      Agent auth bootstrap on the auth host. Normal accounts use email OTP;
      configured review/demo accounts use a deterministic placeholder code.
      These routes issue long-lived ApiKey credentials.
  - name: bootstrap
    description: >-
      Agent-oriented account and workspace bootstrap after ApiKey
      authentication, including per-connection workspace selection.
  - name: sql
    description: >-
      Split SQL surface for the selected workspace: a read-only query
      entrypoint and a separate write entrypoint. Internal sync mechanics stay
      server-side and are not part of this public contract.
  - name: media-assets
    description: >-
      Workspace-scoped media asset registry metadata and direct private S3
      transfer URLs. Multipart upload bytes go to presigned PUT part URLs, and
      download bytes come from presigned GET URLs that accept client Range
      headers while valid.
  - name: workspace-packages
    description: >-
      Workspace-scoped package export, import preview, import confirmation, and
      portable ZIP download.
  - name: public-catalog
    description: >-
      Public published package catalog snapshots for the website and other
      unauthenticated read-only catalog consumers.
  - name: catalog-install
    description: >-
      Workspace-scoped installation of published catalog package versions into
      normal workspace cards and logical media assets.
  - name: admin-catalog
    description: >-
      Admin-only catalog authoring surface for marketplace authors, packages,
      media references, review states, and immutable package versions.
paths:
  /:
    $ref: paths/_.yaml
  /agent:
    $ref: paths/agent.yaml
  /api/agent/send-code:
    $ref: paths/api_agent_send-code.yaml
  /api/agent/verify-code:
    $ref: paths/api_agent_verify-code.yaml
  /agent/me:
    $ref: paths/agent_me.yaml
  /agent/workspaces:
    $ref: paths/agent_workspaces.yaml
  /agent/workspaces/{workspaceId}/select:
    $ref: paths/agent_workspaces_{workspaceId}_select.yaml
  /agent/sql/query:
    $ref: paths/agent_sql_query.yaml
  /agent/sql/execute:
    $ref: paths/agent_sql_execute.yaml
  /workspaces/{workspaceId}/media-assets/images:
    $ref: paths/workspaces_{workspaceId}_media-assets_images.yaml
  /workspaces/{workspaceId}/media-assets/upload-sessions:
    $ref: paths/workspaces_{workspaceId}_media-assets_upload-sessions.yaml
  /workspaces/{workspaceId}/media-assets/upload-sessions/{sessionId}/parts:
    $ref: paths/workspaces_{workspaceId}_media-assets_upload-sessions_{sessionId}_parts.yaml
  /workspaces/{workspaceId}/media-assets/upload-sessions/{sessionId}/complete:
    $ref: paths/workspaces_{workspaceId}_media-assets_upload-sessions_{sessionId}_complete.yaml
  /workspaces/{workspaceId}/media-assets/upload-sessions/{sessionId}/abort:
    $ref: paths/workspaces_{workspaceId}_media-assets_upload-sessions_{sessionId}_abort.yaml
  /workspaces/{workspaceId}/media-assets/{mediaAssetId}:
    $ref: paths/workspaces_{workspaceId}_media-assets_{mediaAssetId}.yaml
  /workspaces/{workspaceId}/media-assets/{mediaAssetId}/download-url:
    $ref: paths/workspaces_{workspaceId}_media-assets_{mediaAssetId}_download-url.yaml
  /workspaces/{workspaceId}/packages/export/preview:
    $ref: paths/workspaces_{workspaceId}_packages_export_preview.yaml
  /workspaces/{workspaceId}/packages/export:
    $ref: paths/workspaces_{workspaceId}_packages_export.yaml
  /workspaces/{workspaceId}/packages/import/preview:
    $ref: paths/workspaces_{workspaceId}_packages_import_preview.yaml
  /workspaces/{workspaceId}/packages/import:
    $ref: paths/workspaces_{workspaceId}_packages_import.yaml
  /catalog/packages:
    $ref: paths/catalog_packages.yaml
  /catalog/packages/{packageSlug}:
    $ref: paths/catalog_packages_{packageSlug}.yaml
  /catalog/package-versions/{packageVersionId}/cards:
    $ref: paths/catalog_package-versions_{packageVersionId}_cards.yaml
  /catalog/package-versions/{packageVersionId}/media-assets/{packageMediaKey}/download-url:
    $ref: paths/catalog_package-versions_{packageVersionId}_media-assets_{packageMediaKey}_download-url.yaml
  /catalog/package-versions/{packageVersionId}/media-assets/{packageMediaKey}/download:
    $ref: paths/catalog_package-versions_{packageVersionId}_media-assets_{packageMediaKey}_download.yaml
  /workspaces/{workspaceId}/catalog/package-versions/{packageVersionId}/install/preview:
    $ref: paths/workspaces_{workspaceId}_catalog_package-versions_{packageVersionId}_install_preview.yaml
  /workspaces/{workspaceId}/catalog/package-versions/{packageVersionId}/install:
    $ref: paths/workspaces_{workspaceId}_catalog_package-versions_{packageVersionId}_install.yaml
  /admin/catalog/authors:
    $ref: paths/admin_catalog_authors.yaml
  /admin/catalog/authors/{authorId}:
    $ref: paths/admin_catalog_authors_{authorId}.yaml
  /admin/catalog/packages:
    $ref: paths/admin_catalog_packages.yaml
  /admin/catalog/packages/{packageId}:
    $ref: paths/admin_catalog_packages_{packageId}.yaml
  /admin/catalog/packages/{packageId}/draft:
    $ref: paths/admin_catalog_packages_{packageId}_draft.yaml
  /admin/catalog/packages/{packageId}/media-assets:
    $ref: paths/admin_catalog_packages_{packageId}_media-assets.yaml
  /admin/catalog/packages/{packageId}/versions:
    $ref: paths/admin_catalog_packages_{packageId}_versions.yaml
  /admin/catalog/packages/{packageId}/versions/from-workspace:
    $ref: paths/admin_catalog_packages_{packageId}_versions_from-workspace.yaml
  /admin/catalog/package-versions/{packageVersionId}/review-status:
    $ref: paths/admin_catalog_package-versions_{packageVersionId}_review-status.yaml
  /admin/catalog/package-versions/{packageVersionId}/publish:
    $ref: paths/admin_catalog_package-versions_{packageVersionId}_publish.yaml
  /admin/catalog/package-versions/{packageVersionId}/delist:
    $ref: paths/admin_catalog_package-versions_{packageVersionId}_delist.yaml
components:
  securitySchemes:
    ApiKeyHeader:
      $ref: ./components/security-schemes/ApiKeyHeader.yaml
    AdminSessionCookie:
      $ref: ./components/security-schemes/AdminSessionCookie.yaml
    CsrfTokenHeader:
      $ref: ./components/security-schemes/CsrfTokenHeader.yaml
    # OAuth2 documents the implemented remote-MCP authorization flow
    # (mcp.<domain>/mcp). The REST endpoints below keep ApiKeyHeader; this scheme
    # is published so the spec reflects how MCP custom-connector clients connect.
    OAuth2:
      $ref: ./components/security-schemes/OAuth2.yaml
