openapi: 3.1.0
info:
  title: Flashcards Open Source App External AI-Agent API
  version: v1
  description: >-
    Public API contract for external AI agents. This document excludes internal
    sync transport, local chat runtime endpoints, and human-only agent
    connection management.
servers:
  - url: https://api.flashcards-open-source-app.com/v1
    description: >-
      Canonical API host for discovery, bootstrap, docs, and external agent
      tools
  - url: https://auth.flashcards-open-source-app.com
    description: Auth host for agent auth bootstrap
tags:
  - name: discovery
    description: Entry points and documentation aliases for the external AI-agent contract.
  - name: auth
    description: >-
      Agent auth bootstrap on the auth host. Normal accounts use email OTP;
      configured review/demo accounts use a deterministic placeholder code.
      These routes issue long-lived ApiKey credentials.
  - name: bootstrap
    description: >-
      Agent-oriented account and workspace bootstrap after ApiKey
      authentication, including per-connection workspace selection.
  - name: sql
    description: >-
      Single SQL entrypoint for the selected workspace. Internal sync mechanics
      stay server-side and are not part of this public contract.
paths:
  /:
    $ref: paths/_.yaml
  /agent:
    $ref: paths/agent.yaml
  /openapi.json:
    $ref: paths/openapi.json.yaml
  /swagger.json:
    $ref: paths/swagger.json.yaml
  /agent/openapi.json:
    $ref: paths/agent_openapi.json.yaml
  /agent/swagger.json:
    $ref: paths/agent_swagger.json.yaml
  /api/agent/send-code:
    $ref: paths/api_agent_send-code.yaml
  /api/agent/verify-code:
    $ref: paths/api_agent_verify-code.yaml
  /me:
    get:
      tags:
        - bootstrap
      summary: Load signed-in account context
      description: >-
        Returns the authenticated account profile, selected workspace id,
        CSRF token for session callers, and server-owned account preferences.
      security:
        - BearerAuth: []
        - GuestAuthorizationHeader: []
        - SessionCookie: []
      responses:
        '200':
          description: Account context
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeResponse'
              example:
                userId: user-1
                selectedWorkspaceId: 50b5b928-7f04-4cc8-878d-6cd0e8b98474
                authTransport: session
                csrfToken: csrf-token
                profile:
                  email: kirill@example.com
                  locale: en
                  createdAt: '2026-03-07T10:40:54.589Z'
                preferences:
                  reviewReactionAnimationsEnabled: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /me/preferences:
    patch:
      tags:
        - bootstrap
      summary: Update signed-in account preferences
      description: >-
        Persists server-owned preferences on the account. Session callers must
        send a valid X-CSRF-Token header. ApiKey authentication is rejected.
      security:
        - BearerAuth: []
        - GuestAuthorizationHeader: []
        - SessionCookie: []
          CsrfTokenHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountPreferences'
            example:
              reviewReactionAnimationsEnabled: false
      responses:
        '200':
          description: Updated account preferences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPreferencesResponse'
              example:
                preferences:
                  reviewReactionAnimationsEnabled: false
        '400':
          description: Invalid preference payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden authentication transport or invalid session CSRF token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /me/community/profile:
    get:
      tags:
        - bootstrap
      summary: Load community public profile
      description: >-
        Ensures the authenticated app user or guest has a stable opaque public
        community profile and returns only client-safe public profile fields.
        Guest callers can manage anonymous leaderboard visibility but still
        receive linkedAccountRequiredForLeaderboard=true until they link an
        account. ApiKey authentication is rejected.
      security:
        - BearerAuth: []
        - GuestAuthorizationHeader: []
        - SessionCookie: []
      responses:
        '200':
          description: Community public profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityPublicProfileResponse'
              example:
                publicProfileId: 0cc86d10-18cb-4d64-a2f2-a5fd960b45b2
                anonymousDisplayName: Silver Bright Harbor
                leaderboardParticipationEnabled: true
                linkedAccountRequiredForLeaderboard: false
        '403':
          description: Forbidden authentication transport
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
        - bootstrap
      summary: Update community leaderboard participation preference
      description: >-
        Updates only the leaderboard participation preference on the
        authenticated app user's or guest's community public profile. Session
        callers must send a valid X-CSRF-Token header. ApiKey authentication is
        rejected.
      security:
        - BearerAuth: []
        - GuestAuthorizationHeader: []
        - SessionCookie: []
          CsrfTokenHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommunityProfilePatchRequest'
            example:
              leaderboardParticipationEnabled: false
      responses:
        '200':
          description: Updated community public profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityPublicProfileResponse'
              example:
                publicProfileId: 0cc86d10-18cb-4d64-a2f2-a5fd960b45b2
                anonymousDisplayName: Silver Bright Harbor
                leaderboardParticipationEnabled: false
                linkedAccountRequiredForLeaderboard: false
        '400':
          description: Invalid community profile payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden authentication transport or invalid session CSRF token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /me/community/friend-invitations:
    post:
      tags:
        - bootstrap
      summary: Create a friend invitation link
      description: >-
        Creates a single-use friend invitation link for the signed-in human
        account. The invitee display name is private to the inviter and is
        normalized with trim before storage. ApiKey and Guest authentication are
        rejected. Session callers must send a valid X-CSRF-Token header.
      security:
        - BearerAuth: []
        - SessionCookie: []
          CsrfTokenHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FriendInvitationCreateRequest'
            example:
              inviteeDisplayName: Priya
      responses:
        '200':
          description: Created friend invitation link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendInvitationCreateResponse'
              example:
                inviteUrl: https://app.flashcards-open-source-app.com/invite/LjCTCGK7DLEh6IJeujO4GtcZD2VN7z5oFMVozdjlggo
                expiresAt: '2026-06-17T10:00:00.000Z'
        '400':
          description: Invalid friend invitation payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden authentication transport or invalid session CSRF token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Active invitation limit reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /community/friend-invitations/{inviteToken}:
    get:
      tags:
        - bootstrap
      summary: Preview a friend invitation link
      description: >-
        Public no-auth preview for a raw friend invite token. The response is
        intentionally small: active links return only status and expiry; unknown,
        expired, inactive, or accepted links return only inactive status. Inviter
        identity, email, public profile id, and private stored display names are
        never returned.
      security: []
      parameters:
        - name: inviteToken
          in: path
          required: true
          schema:
            type: string
          description: Raw invite token from the app invite URL path.
      responses:
        '200':
          description: Friend invitation preview
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendInvitationPreviewResponse'
              examples:
                active:
                  value:
                    status: active
                    expiresAt: '2026-06-17T10:00:00.000Z'
                inactive:
                  value:
                    status: inactive
        '403':
          description: ApiKey authentication is not supported for public preview
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /me/community/friend-invitations/{inviteToken}/accept:
    post:
      tags:
        - bootstrap
      summary: Accept a friend invitation link
      description: >-
        Accepts an active friend invitation link for the signed-in human account
        and creates the directed friendship rows. The inviter display name is
        private to the invitee and is normalized with trim before storage. ApiKey
        and Guest authentication are rejected. Session callers must send a valid
        X-CSRF-Token header.
      security:
        - BearerAuth: []
        - SessionCookie: []
          CsrfTokenHeader: []
      parameters:
        - name: inviteToken
          in: path
          required: true
          schema:
            type: string
          description: Raw invite token from the app invite URL path.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FriendInvitationAcceptRequest'
            example:
              inviterDisplayName: Alex
      responses:
        '200':
          description: Friend invitation acceptance status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendInvitationAcceptResponse'
              examples:
                accepted:
                  value:
                    status: accepted
                alreadyFriends:
                  value:
                    status: already_friends
                    existingFriendDisplayName: Alex
                inactive:
                  value:
                    status: inactive
        '400':
          description: Invalid friend invitation payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden authentication transport or invalid session CSRF token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Invitation cannot be accepted by this account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: This is your own invitation link.
                code: FRIEND_INVITATION_SELF
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /me/progress/leaderboard:
    get:
      tags:
        - bootstrap
      summary: Load the compact community Progress leaderboard
      description: >-
        Returns all five leaderboard windows in one payload for the Progress tab,
        each with viewer-perspective ranks, the per-viewer tie rule, and the
        server-computed compact rows so every client renders the same list.
        Ready windows also include rankingRows, the full frozen viewer-perspective
        ranking list with no gaps, so clients can locally reinsert the viewer
        with live local counts. Compact rows include gap rows for hidden ranks
        and a final last-place row when hidden participants remain below the
        viewer-neighbor group.
        Guests receive status linked_account_required and opted-out users receive
        participation_disabled, both with no other users' rows. ApiKey
        authentication is rejected. Only opaque public profile ids and
        locale-derived anonymous display names are returned by default. Rows can
        also include a viewer-private friendDisplayName when the participant is
        a current opted-in friend of the viewer. Internal user ids, invitation
        ids, emails, and raw review timestamps are never exposed.
      security:
        - BearerAuth: []
        - GuestAuthorizationHeader: []
        - SessionCookie: []
      responses:
        '200':
          description: Compact community leaderboard
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgressLeaderboardResponse'
              example:
                status: ready
                metric:
                  metricVersion: qualified_reviews_v1
                  title: Qualified reviews
                  description: Hard, Good, and Easy reviews count toward your rank. Again does not.
                defaultWindowKey: last_24_hours
                windows:
                  - windowKey: last_24_hours
                    snapshotId: 0cc86d10-18cb-4d64-a2f2-a5fd960b45b2
                    snapshotGeneratedAt: '2026-06-10T14:00:05.000Z'
                    asOfServerHour: '2026-06-10T14:00:00.000Z'
                    nextRefreshAfter: '2026-06-10T15:00:00.000Z'
                    participantCount: 8
                    viewer:
                      publicProfileId: 5b9d3f2a-1c4e-4a7b-9f0d-2e6c8a1b4d7f
                      displayName: You
                      rank: 6
                      qualifiedReviewCount: 7
                    rows:
                      - kind: top
                        publicProfileId: a1d2c3b4-5e6f-4a8b-9c0d-1e2f3a4b5c6d
                        anonymousDisplayName: Silver Bright Harbor
                        qualifiedReviewCount: 51
                        rank: 1
                      - kind: top
                        publicProfileId: d4e5f6a7-8192-4d0e-af3b-4c5d6e7f8091
                        anonymousDisplayName: Violet Calm Ridge
                        qualifiedReviewCount: 44
                        rank: 2
                      - kind: top
                        publicProfileId: e5f6a7b8-9203-4e1f-b04c-5d6e7f8091a2
                        anonymousDisplayName: Indigo Clear Grove
                        qualifiedReviewCount: 30
                        rank: 3
                      - kind: gap
                      - kind: neighbor
                        publicProfileId: b2c3d4e5-6f70-4b9c-8d1e-2f3a4b5c6d7e
                        anonymousDisplayName: Amber Calm Meadow
                        qualifiedReviewCount: 8
                        rank: 5
                      - kind: viewer
                        publicProfileId: 5b9d3f2a-1c4e-4a7b-9f0d-2e6c8a1b4d7f
                        anonymousDisplayName: Jade Swift River
                        qualifiedReviewCount: 7
                        rank: 6
                      - kind: neighbor
                        publicProfileId: c3d4e5f6-7081-4c0d-9e2f-3a4b5c6d7e8f
                        anonymousDisplayName: Coral Keen Valley
                        qualifiedReviewCount: 6
                        rank: 7
                      - kind: neighbor
                        publicProfileId: f6a7b8c9-0314-4f20-805d-6e7f8091a2b3
                        anonymousDisplayName: Blue Final Harbor
                        qualifiedReviewCount: 0
                        rank: 8
                    rankingRows:
                      - kind: participant
                        publicProfileId: a1d2c3b4-5e6f-4a8b-9c0d-1e2f3a4b5c6d
                        anonymousDisplayName: Silver Bright Harbor
                        qualifiedReviewCount: 51
                        rank: 1
                      - kind: participant
                        publicProfileId: d4e5f6a7-8192-4d0e-af3b-4c5d6e7f8091
                        anonymousDisplayName: Violet Calm Ridge
                        qualifiedReviewCount: 44
                        rank: 2
                      - kind: participant
                        publicProfileId: e5f6a7b8-9203-4e1f-b04c-5d6e7f8091a2
                        anonymousDisplayName: Indigo Clear Grove
                        qualifiedReviewCount: 30
                        rank: 3
                      - kind: participant
                        publicProfileId: 8091a2b3-c4d5-4e6f-8708-91a2b3c4d5e6
                        anonymousDisplayName: Green Quiet Summit
                        qualifiedReviewCount: 12
                        rank: 4
                      - kind: participant
                        publicProfileId: b2c3d4e5-6f70-4b9c-8d1e-2f3a4b5c6d7e
                        anonymousDisplayName: Amber Calm Meadow
                        qualifiedReviewCount: 8
                        rank: 5
                      - kind: viewer
                        publicProfileId: 5b9d3f2a-1c4e-4a7b-9f0d-2e6c8a1b4d7f
                        anonymousDisplayName: Jade Swift River
                        qualifiedReviewCount: 7
                        rank: 6
                      - kind: participant
                        publicProfileId: c3d4e5f6-7081-4c0d-9e2f-3a4b5c6d7e8f
                        anonymousDisplayName: Coral Keen Valley
                        qualifiedReviewCount: 6
                        rank: 7
                      - kind: participant
                        publicProfileId: f6a7b8c9-0314-4f20-805d-6e7f8091a2b3
                        anonymousDisplayName: Blue Final Harbor
                        qualifiedReviewCount: 0
                        rank: 8
        '403':
          description: Forbidden authentication transport
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /me/progress/leaderboards/profiles/{publicProfileId}:
    get:
      tags:
        - bootstrap
      summary: Load a public leaderboard profile summary
      description: >-
        Returns a privacy-limited aggregate profile summary for an opted-in
        public profile that already participates in a public Progress
        leaderboard, or for the viewer's own opted-in public profile. Guests
        receive status linked_account_required and opted-out viewers receive
        participation_disabled. Ineligible or unknown target profiles receive
        profile_unavailable. Ready responses expose only the opaque public
        profile id, locale-derived anonymous display name, optional
        viewer-private friendDisplayName, aggregate leaderboard metrics, 30
        zero-filled profile-local review activity days with UTC fallback for old
        reviews, joinedAt, totalCards, and generatedAt. Timezone names, internal
        user ids, emails, workspace ids, deck ids, card ids, and raw review
        timestamps are never returned.
      security:
        - BearerAuth: []
        - GuestAuthorizationHeader: []
        - SessionCookie: []
      parameters:
        - name: publicProfileId
          in: path
          required: true
          schema:
            $ref: ./components/schemas/UuidString.yaml
      responses:
        '200':
          description: Public leaderboard profile summary envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardProfileResponse'
              example:
                status: ready
                publicProfileId: a1d2c3b4-5e6f-4a8b-9c0d-1e2f3a4b5c6d
                anonymousDisplayName: Silver Bright Harbor
                friendDisplayName: Pat
                isFriend: true
                metrics:
                  currentStreakDays: 5
                  bestRatingPlacement:
                    windowKey: last_24_hours
                    rank: 1
                reviewActivity:
                  dateBasis: profile_local_day_with_utc_fallback
                  days:
                    - date: '2026-05-23'
                      reviewCount: 0
                    - date: '2026-05-24'
                      reviewCount: 2
                    - date: '2026-05-25'
                      reviewCount: 0
                    - date: '2026-05-26'
                      reviewCount: 0
                    - date: '2026-05-27'
                      reviewCount: 1
                    - date: '2026-05-28'
                      reviewCount: 0
                    - date: '2026-05-29'
                      reviewCount: 0
                    - date: '2026-05-30'
                      reviewCount: 3
                    - date: '2026-05-31'
                      reviewCount: 0
                    - date: '2026-06-01'
                      reviewCount: 5
                    - date: '2026-06-02'
                      reviewCount: 0
                    - date: '2026-06-03'
                      reviewCount: 0
                    - date: '2026-06-04'
                      reviewCount: 0
                    - date: '2026-06-05'
                      reviewCount: 4
                    - date: '2026-06-06'
                      reviewCount: 0
                    - date: '2026-06-07'
                      reviewCount: 0
                    - date: '2026-06-08'
                      reviewCount: 0
                    - date: '2026-06-09'
                      reviewCount: 2
                    - date: '2026-06-10'
                      reviewCount: 0
                    - date: '2026-06-11'
                      reviewCount: 0
                    - date: '2026-06-12'
                      reviewCount: 1
                    - date: '2026-06-13'
                      reviewCount: 0
                    - date: '2026-06-14'
                      reviewCount: 0
                    - date: '2026-06-15'
                      reviewCount: 0
                    - date: '2026-06-16'
                      reviewCount: 0
                    - date: '2026-06-17'
                      reviewCount: 3
                    - date: '2026-06-18'
                      reviewCount: 0
                    - date: '2026-06-19'
                      reviewCount: 0
                    - date: '2026-06-20'
                      reviewCount: 2
                    - date: '2026-06-21'
                      reviewCount: 1
                stats:
                  joinedAt: '2026-05-01T10:00:00.000Z'
                  totalCards: 72
                generatedAt: '2026-06-21T12:34:56.000Z'
        '403':
          description: Forbidden authentication transport
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /me/progress/leaderboards/streak:
    get:
      tags:
        - bootstrap
      summary: Load the compact community streak leaderboard
      description: >-
        Returns the latest daily current-streak leaderboard snapshot with
        viewer-perspective ranks, viewer-favoring tie placement, and
        server-computed compact rows. The metric is current streak days from
        the public daily snapshot, so public values can trail the user's live
        personal streak. Guests receive status linked_account_required and
        opted-out users receive participation_disabled, both without rows.
        ApiKey authentication is rejected. Only opaque public profile ids and
        locale-derived anonymous display names are returned by default. Rows can
        also include a viewer-private friendDisplayName when the participant is
        a current opted-in friend of the viewer. Internal user ids, invitation
        ids, emails, raw active-day dates, and base sort positions are never
        exposed.
      security:
        - BearerAuth: []
        - GuestAuthorizationHeader: []
        - SessionCookie: []
      responses:
        '200':
          description: Compact current-streak leaderboard
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreakLeaderboardResponse'
              example:
                status: ready
                metric:
                  metricVersion: streak_days_v1
                  title: Current streak days
                  description: Ranks use current streak days from the public daily snapshot. Public values can trail your live personal streak.
                snapshotId: 3e6c0b88-5f5a-4db3-8c8c-9d6a3840a1e4
                snapshotGeneratedAt: '2026-06-10T12:00:05.000Z'
                asOfUtcDate: '2026-06-10'
                nextRefreshAfter: '2026-06-11T12:00:00.000Z'
                participantCount: 2
                viewer:
                  publicProfileId: 5b9d3f2a-1c4e-4a7b-9f0d-2e6c8a1b4d7f
                  displayName: You
                  rank: 2
                  streakDays: 3
                rows:
                  - kind: top
                    publicProfileId: a1d2c3b4-5e6f-4a8b-9c0d-1e2f3a4b5c6d
                    anonymousDisplayName: Silver Bright Harbor
                    streakDays: 5
                    rank: 1
                  - kind: viewer
                    publicProfileId: 5b9d3f2a-1c4e-4a7b-9f0d-2e6c8a1b4d7f
                    anonymousDisplayName: Jade Swift River
                    streakDays: 3
                    rank: 2
                rankingRows:
                  - kind: participant
                    publicProfileId: a1d2c3b4-5e6f-4a8b-9c0d-1e2f3a4b5c6d
                    anonymousDisplayName: Silver Bright Harbor
                    streakDays: 5
                    rank: 1
                  - kind: viewer
                    publicProfileId: 5b9d3f2a-1c4e-4a7b-9f0d-2e6c8a1b4d7f
                    anonymousDisplayName: Jade Swift River
                    streakDays: 3
                    rank: 2
        '403':
          description: Forbidden authentication transport
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /agent/me:
    $ref: paths/agent_me.yaml
  /agent/workspaces:
    $ref: paths/agent_workspaces.yaml
  /agent/workspaces/{workspaceId}/select:
    $ref: paths/agent_workspaces_{workspaceId}_select.yaml
  /agent/sql:
    $ref: paths/agent_sql.yaml
components:
  securitySchemes:
    ApiKeyHeader:
      $ref: ./components/security-schemes/ApiKeyHeader.yaml
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Cognito ID token
    GuestAuthorizationHeader:
      type: apiKey
      in: header
      name: Authorization
      description: Guest session token formatted as `Guest <token>`.
    SessionCookie:
      type: apiKey
      in: cookie
      name: session
    CsrfTokenHeader:
      type: apiKey
      in: header
      name: X-CSRF-Token
  schemas:
    AccountPreferences:
      type: object
      additionalProperties: false
      required:
        - reviewReactionAnimationsEnabled
      properties:
        reviewReactionAnimationsEnabled:
          type: boolean
          default: true
    AccountPreferencesResponse:
      type: object
      additionalProperties: false
      required:
        - preferences
      properties:
        preferences:
          $ref: '#/components/schemas/AccountPreferences'
    CommunityProfilePatchRequest:
      type: object
      additionalProperties: false
      required:
        - leaderboardParticipationEnabled
      properties:
        leaderboardParticipationEnabled:
          type: boolean
          default: true
    CommunityPublicProfileResponse:
      type: object
      additionalProperties: false
      required:
        - publicProfileId
        - anonymousDisplayName
        - leaderboardParticipationEnabled
        - linkedAccountRequiredForLeaderboard
      properties:
        publicProfileId:
          $ref: ./components/schemas/UuidString.yaml
        anonymousDisplayName:
          type: string
          description: Locale-aware anonymous display label derived from the public profile id.
        leaderboardParticipationEnabled:
          type: boolean
        linkedAccountRequiredForLeaderboard:
          type: boolean
    FriendInvitationDisplayName:
      type: string
      minLength: 1
      maxLength: 30
      description: >-
        User-entered private display name after server trim normalization.
        Unicode and emoji are allowed; control characters and newlines are
        rejected.
    FriendInvitationCreateRequest:
      type: object
      additionalProperties: false
      required:
        - inviteeDisplayName
      properties:
        inviteeDisplayName:
          $ref: '#/components/schemas/FriendInvitationDisplayName'
    FriendInvitationCreateResponse:
      type: object
      additionalProperties: false
      required:
        - inviteUrl
        - expiresAt
      properties:
        inviteUrl:
          type: string
          format: uri
        expiresAt:
          type: string
          format: date-time
    FriendInvitationPreviewActiveResponse:
      type: object
      additionalProperties: false
      required:
        - status
        - expiresAt
      properties:
        status:
          type: string
          enum:
            - active
        expiresAt:
          type: string
          format: date-time
    FriendInvitationPreviewInactiveResponse:
      type: object
      additionalProperties: false
      required:
        - status
      properties:
        status:
          type: string
          enum:
            - inactive
    FriendInvitationPreviewResponse:
      oneOf:
        - $ref: '#/components/schemas/FriendInvitationPreviewActiveResponse'
        - $ref: '#/components/schemas/FriendInvitationPreviewInactiveResponse'
    FriendInvitationAcceptRequest:
      type: object
      additionalProperties: false
      required:
        - inviterDisplayName
      properties:
        inviterDisplayName:
          $ref: '#/components/schemas/FriendInvitationDisplayName'
    FriendInvitationAcceptedResponse:
      type: object
      additionalProperties: false
      required:
        - status
      properties:
        status:
          type: string
          enum:
            - accepted
    FriendInvitationAlreadyFriendsResponse:
      type: object
      additionalProperties: false
      required:
        - status
        - existingFriendDisplayName
      properties:
        status:
          type: string
          enum:
            - already_friends
        existingFriendDisplayName:
          $ref: '#/components/schemas/FriendInvitationDisplayName'
    FriendInvitationInactiveAcceptResponse:
      type: object
      additionalProperties: false
      required:
        - status
      properties:
        status:
          type: string
          enum:
            - inactive
    FriendInvitationAcceptResponse:
      oneOf:
        - $ref: '#/components/schemas/FriendInvitationAcceptedResponse'
        - $ref: '#/components/schemas/FriendInvitationAlreadyFriendsResponse'
        - $ref: '#/components/schemas/FriendInvitationInactiveAcceptResponse'
    LeaderboardWindowKey:
      type: string
      enum:
        - last_24_hours
        - last_3_days
        - last_7_days
        - last_30_days
        - all_time
    ProgressLeaderboardMetric:
      type: object
      additionalProperties: false
      required:
        - metricVersion
        - title
        - description
      properties:
        metricVersion:
          type: string
          enum:
            - qualified_reviews_v1
        title:
          type: string
        description:
          type: string
          description: Communicates that Hard, Good, and Easy reviews count while Again does not.
    ProgressLeaderboardViewer:
      type: object
      additionalProperties: false
      required:
        - publicProfileId
        - displayName
        - rank
        - qualifiedReviewCount
      properties:
        publicProfileId:
          $ref: ./components/schemas/UuidString.yaml
        displayName:
          type: string
          enum:
            - You
          description: Always "You"; clients render the viewer row using the row kind.
        rank:
          type: integer
          minimum: 1
        qualifiedReviewCount:
          type: integer
          minimum: 0
    ProgressLeaderboardParticipantRow:
      type: object
      additionalProperties: false
      required:
        - kind
        - publicProfileId
        - anonymousDisplayName
        - qualifiedReviewCount
        - rank
      properties:
        kind:
          type: string
          enum:
            - top
            - neighbor
            - viewer
        publicProfileId:
          $ref: ./components/schemas/UuidString.yaml
        anonymousDisplayName:
          type: string
          description: Locale-aware anonymous display label derived from the public profile id.
        friendDisplayName:
          type: string
          description: Viewer-private friend label shown only for current opted-in friends.
        qualifiedReviewCount:
          type: integer
          minimum: 0
        rank:
          type: integer
          minimum: 1
    ProgressLeaderboardGapRow:
      type: object
      additionalProperties: false
      required:
        - kind
      properties:
        kind:
          type: string
          enum:
            - gap
    ProgressLeaderboardRow:
      oneOf:
        - $ref: '#/components/schemas/ProgressLeaderboardParticipantRow'
        - $ref: '#/components/schemas/ProgressLeaderboardGapRow'
    ProgressLeaderboardRankingRow:
      type: object
      additionalProperties: false
      required:
        - kind
        - publicProfileId
        - anonymousDisplayName
        - qualifiedReviewCount
        - rank
      properties:
        kind:
          type: string
          enum:
            - participant
            - viewer
        publicProfileId:
          $ref: ./components/schemas/UuidString.yaml
        anonymousDisplayName:
          type: string
          description: Locale-aware anonymous display label derived from the public profile id.
        friendDisplayName:
          type: string
          description: Viewer-private friend label shown only for current opted-in friends.
        qualifiedReviewCount:
          type: integer
          minimum: 0
        rank:
          type: integer
          minimum: 1
    ProgressLeaderboardWindow:
      type: object
      additionalProperties: false
      required:
        - windowKey
        - snapshotId
        - snapshotGeneratedAt
        - asOfServerHour
        - nextRefreshAfter
        - participantCount
        - viewer
        - rows
        - rankingRows
      properties:
        windowKey:
          $ref: '#/components/schemas/LeaderboardWindowKey'
        snapshotId:
          $ref: ./components/schemas/UuidString.yaml
        snapshotGeneratedAt:
          type: string
          format: date-time
        asOfServerHour:
          type: string
          format: date-time
        nextRefreshAfter:
          type: string
          format: date-time
        participantCount:
          type: integer
          minimum: 0
          description: >-
            Size of the viewer-perspective ranking. Includes all opted-in
            non-demo public profiles with at least one all-time qualified review,
            including profiles with count 0 in this window, and always includes
            the viewer so the viewer rank is never greater than this value.
        viewer:
          $ref: '#/components/schemas/ProgressLeaderboardViewer'
        rows:
          type: array
          items:
            $ref: '#/components/schemas/ProgressLeaderboardRow'
        rankingRows:
          type: array
          description: Full frozen viewer-perspective ranking list with contiguous ranks and no gap rows.
          items:
            $ref: '#/components/schemas/ProgressLeaderboardRankingRow'
    ProgressLeaderboardResponse:
      type: object
      additionalProperties: false
      required:
        - status
        - metric
        - defaultWindowKey
        - windows
      properties:
        status:
          type: string
          enum:
            - ready
            - linked_account_required
            - participation_disabled
            - snapshot_unavailable
        metric:
          $ref: '#/components/schemas/ProgressLeaderboardMetric'
        defaultWindowKey:
          $ref: '#/components/schemas/LeaderboardWindowKey'
          description: >-
            Client default selection. Ready responses choose the window where
            the viewer has the lowest rank number; tied ranks prefer the
            shortest period in canonical window order.
        windows:
          type: array
          description: Empty unless status is ready; otherwise one item per leaderboard window.
          items:
            $ref: '#/components/schemas/ProgressLeaderboardWindow'
    LeaderboardProfileRatingPlacement:
      type: object
      additionalProperties: false
      required:
        - windowKey
        - rank
      properties:
        windowKey:
          $ref: '#/components/schemas/LeaderboardWindowKey'
        rank:
          type: integer
          minimum: 1
          description: Best rank from the latest public rating snapshots.
    LeaderboardProfileMetrics:
      type: object
      additionalProperties: false
      required:
        - currentStreakDays
        - bestRatingPlacement
      properties:
        currentStreakDays:
          type: integer
          minimum: 0
          description: Latest public streak snapshot value for the profile, or 0 when absent.
        bestRatingPlacement:
          anyOf:
            - $ref: '#/components/schemas/LeaderboardProfileRatingPlacement'
            - type: 'null'
          description: >-
            Lowest rank from latest rating snapshots across all canonical
            windows. Tied ranks prefer the shortest window order.
    LeaderboardProfileReviewActivityDay:
      type: object
      additionalProperties: false
      required:
        - date
        - reviewCount
      properties:
        date:
          type: string
          format: date
        reviewCount:
          type: integer
          minimum: 0
    LeaderboardProfileReviewActivity:
      type: object
      additionalProperties: false
      required:
        - dateBasis
        - days
      properties:
        dateBasis:
          type: string
          enum:
            - profile_local_day_with_utc_fallback
          description: >-
            Dates use stored profile-local review days when present and UTC
            dates only for older review events without stored local dates.
        days:
          type: array
          minItems: 30
          maxItems: 30
          items:
            $ref: '#/components/schemas/LeaderboardProfileReviewActivityDay'
    LeaderboardProfileStats:
      type: object
      additionalProperties: false
      required:
        - joinedAt
        - totalCards
      properties:
        joinedAt:
          type: string
          format: date-time
          description: Public profile creation timestamp.
        totalCards:
          type: integer
          minimum: 0
          description: Aggregate active card count across workspaces where the profile owner is a member.
    LeaderboardProfileReadyResponse:
      type: object
      additionalProperties: false
      required:
        - status
        - publicProfileId
        - anonymousDisplayName
        - isFriend
        - metrics
        - reviewActivity
        - stats
        - generatedAt
      properties:
        status:
          type: string
          enum:
            - ready
        publicProfileId:
          $ref: ./components/schemas/UuidString.yaml
        anonymousDisplayName:
          type: string
          description: Locale-aware anonymous display label derived from the public profile id.
        friendDisplayName:
          type: string
          description: Viewer-private friend label shown only when this profile is a current opted-in friend.
        isFriend:
          type: boolean
        metrics:
          $ref: '#/components/schemas/LeaderboardProfileMetrics'
        reviewActivity:
          $ref: '#/components/schemas/LeaderboardProfileReviewActivity'
        stats:
          $ref: '#/components/schemas/LeaderboardProfileStats'
        generatedAt:
          type: string
          format: date-time
    LeaderboardProfileNonReadyResponse:
      type: object
      additionalProperties: false
      required:
        - status
      properties:
        status:
          type: string
          enum:
            - linked_account_required
            - participation_disabled
            - profile_unavailable
    LeaderboardProfileResponse:
      oneOf:
        - $ref: '#/components/schemas/LeaderboardProfileReadyResponse'
        - $ref: '#/components/schemas/LeaderboardProfileNonReadyResponse'
    StreakLeaderboardMetric:
      type: object
      additionalProperties: false
      required:
        - metricVersion
        - title
        - description
      properties:
        metricVersion:
          type: string
          enum:
            - streak_days_v1
        title:
          type: string
        description:
          type: string
          description: >-
            Communicates that the metric is current streak days from the public
            daily snapshot and can trail the user's live personal streak.
    StreakLeaderboardViewer:
      type: object
      additionalProperties: false
      required:
        - publicProfileId
        - displayName
        - rank
        - streakDays
      properties:
        publicProfileId:
          $ref: ./components/schemas/UuidString.yaml
        displayName:
          type: string
          enum:
            - You
          description: Always "You"; clients render the viewer row using the row kind.
        rank:
          type: integer
          minimum: 1
        streakDays:
          type: integer
          minimum: 0
    StreakLeaderboardParticipantRow:
      type: object
      additionalProperties: false
      required:
        - kind
        - publicProfileId
        - anonymousDisplayName
        - streakDays
        - rank
      properties:
        kind:
          type: string
          enum:
            - top
            - neighbor
            - viewer
        publicProfileId:
          $ref: ./components/schemas/UuidString.yaml
        anonymousDisplayName:
          type: string
          description: Locale-aware anonymous display label derived from the public profile id.
        friendDisplayName:
          type: string
          description: Viewer-private friend label shown only for current opted-in friends.
        streakDays:
          type: integer
          minimum: 0
        rank:
          type: integer
          minimum: 1
    StreakLeaderboardGapRow:
      type: object
      additionalProperties: false
      required:
        - kind
      properties:
        kind:
          type: string
          enum:
            - gap
    StreakLeaderboardRow:
      oneOf:
        - $ref: '#/components/schemas/StreakLeaderboardParticipantRow'
        - $ref: '#/components/schemas/StreakLeaderboardGapRow'
    StreakLeaderboardRankingRow:
      type: object
      additionalProperties: false
      required:
        - kind
        - publicProfileId
        - anonymousDisplayName
        - streakDays
        - rank
      properties:
        kind:
          type: string
          enum:
            - participant
            - viewer
        publicProfileId:
          $ref: ./components/schemas/UuidString.yaml
        anonymousDisplayName:
          type: string
          description: Locale-aware anonymous display label derived from the public profile id.
        friendDisplayName:
          type: string
          description: Viewer-private friend label shown only for current opted-in friends.
        streakDays:
          type: integer
          minimum: 0
        rank:
          type: integer
          minimum: 1
    StreakLeaderboardReadyResponse:
      type: object
      additionalProperties: false
      required:
        - status
        - metric
        - snapshotId
        - snapshotGeneratedAt
        - asOfUtcDate
        - nextRefreshAfter
        - participantCount
        - viewer
        - rows
        - rankingRows
      properties:
        status:
          type: string
          enum:
            - ready
        metric:
          $ref: '#/components/schemas/StreakLeaderboardMetric'
        snapshotId:
          $ref: ./components/schemas/UuidString.yaml
        snapshotGeneratedAt:
          type: string
          format: date-time
        asOfUtcDate:
          type: string
          format: date
        nextRefreshAfter:
          type: string
          format: date-time
        participantCount:
          type: integer
          minimum: 0
          description: >-
            Size of the viewer-perspective ranking. Always includes the viewer
            so the viewer rank is never greater than this value.
        viewer:
          $ref: '#/components/schemas/StreakLeaderboardViewer'
        rows:
          type: array
          items:
            $ref: '#/components/schemas/StreakLeaderboardRow'
        rankingRows:
          type: array
          description: Full frozen viewer-perspective ranking list with contiguous ranks and no gap rows.
          items:
            $ref: '#/components/schemas/StreakLeaderboardRankingRow'
    StreakLeaderboardNonReadyResponse:
      type: object
      additionalProperties: false
      required:
        - status
        - metric
      properties:
        status:
          type: string
          enum:
            - linked_account_required
            - participation_disabled
            - snapshot_unavailable
        metric:
          $ref: '#/components/schemas/StreakLeaderboardMetric'
    StreakLeaderboardResponse:
      oneOf:
        - $ref: '#/components/schemas/StreakLeaderboardReadyResponse'
        - $ref: '#/components/schemas/StreakLeaderboardNonReadyResponse'
    ErrorResponse:
      type: object
      additionalProperties: true
      required:
        - error
      properties:
        error:
          type: string
        requestId:
          type:
            - string
            - 'null'
        code:
          type:
            - string
            - 'null'
    MeResponse:
      type: object
      additionalProperties: false
      required:
        - userId
        - selectedWorkspaceId
        - authTransport
        - csrfToken
        - profile
        - preferences
      properties:
        userId:
          type: string
        selectedWorkspaceId:
          anyOf:
            - $ref: ./components/schemas/UuidString.yaml
            - type: 'null'
        authTransport:
          type: string
          enum:
            - bearer
            - guest
            - session
        csrfToken:
          type:
            - string
            - 'null'
        profile:
          type: object
          additionalProperties: false
          required:
            - email
            - locale
            - createdAt
          properties:
            email:
              type:
                - string
                - 'null'
              format: email
            locale:
              type: string
            createdAt:
              type: string
              format: date-time
        preferences:
          $ref: '#/components/schemas/AccountPreferences'
