openapi: 3.1.0
info:
  title: Flashcards Open Source App External AI-Agent API
  version: v1
  description: >-
    Curated public API contract for external AI agents. This is not a complete
    backend route inventory: first-party app endpoints can remain live while
    intentionally omitted from this published specification. This document
    excludes internal sync transport, local chat runtime endpoints, and
    human-only agent connection management.
servers:
  - url: https://api.flashcards-open-source-app.com/v1
    description: >-
      Canonical API host for discovery, bootstrap, docs, and external agent
      tools
  - url: https://auth.flashcards-open-source-app.com
    description: Auth host for agent auth bootstrap
tags:
  - name: discovery
    description: Discovery entry points for the external AI-agent contract.
  - name: auth
    description: >-
      Agent auth bootstrap on the auth host. Normal accounts use email OTP;
      configured review/demo accounts use a deterministic placeholder code.
      These routes issue long-lived ApiKey credentials.
  - name: bootstrap
    description: >-
      Agent-oriented account and workspace bootstrap after ApiKey
      authentication, including per-connection workspace selection.
  - name: sql
    description: >-
      Split SQL surface for the selected workspace: a read-only query
      entrypoint and a separate write entrypoint. Internal sync mechanics stay
      server-side and are not part of this public contract.
paths:
  /:
    $ref: paths/_.yaml
  /agent:
    $ref: paths/agent.yaml
  /api/agent/send-code:
    $ref: paths/api_agent_send-code.yaml
  /api/agent/verify-code:
    $ref: paths/api_agent_verify-code.yaml
  /agent/me:
    $ref: paths/agent_me.yaml
  /agent/workspaces:
    $ref: paths/agent_workspaces.yaml
  /agent/workspaces/{workspaceId}/select:
    $ref: paths/agent_workspaces_{workspaceId}_select.yaml
  /agent/sql/query:
    $ref: paths/agent_sql_query.yaml
  /agent/sql/execute:
    $ref: paths/agent_sql_execute.yaml
components:
  securitySchemes:
    ApiKeyHeader:
      $ref: ./components/security-schemes/ApiKeyHeader.yaml
