openapi: 3.1.0
info:
  title: Flashcards Open Source App External AI-Agent API
  version: v1
  description: >-
    Public API contract for external AI agents. This document excludes internal
    sync transport, local chat runtime endpoints, and human-only agent
    connection management.
servers:
  - url: https://api.flashcards-open-source-app.com/v1
    description: >-
      Canonical API host for discovery, bootstrap, docs, and external agent
      tools
  - url: https://auth.flashcards-open-source-app.com
    description: Auth host for email OTP bootstrap
tags:
  - name: discovery
    description: Entry points and documentation aliases for the external AI-agent contract.
  - name: auth
    description: >-
      Email OTP bootstrap on the auth host. These routes issue long-lived ApiKey
      credentials.
  - name: bootstrap
    description: >-
      Agent-oriented account and workspace bootstrap after ApiKey
      authentication, including per-connection workspace selection.
  - name: sql
    description: >-
      Single SQL entrypoint for the selected workspace. Internal sync mechanics
      stay server-side and are not part of this public contract.
paths:
  /:
    $ref: paths/_.yaml
  /agent:
    $ref: paths/agent.yaml
  /openapi.json:
    $ref: paths/openapi.json.yaml
  /swagger.json:
    $ref: paths/swagger.json.yaml
  /agent/openapi.json:
    $ref: paths/agent_openapi.json.yaml
  /agent/swagger.json:
    $ref: paths/agent_swagger.json.yaml
  /api/agent/send-code:
    $ref: paths/api_agent_send-code.yaml
  /api/agent/verify-code:
    $ref: paths/api_agent_verify-code.yaml
  /agent/me:
    $ref: paths/agent_me.yaml
  /agent/workspaces:
    $ref: paths/agent_workspaces.yaml
  /agent/workspaces/{workspaceId}/select:
    $ref: paths/agent_workspaces_{workspaceId}_select.yaml
  /agent/sql:
    $ref: paths/agent_sql.yaml
components:
  securitySchemes:
    ApiKeyHeader:
      $ref: ./components/security-schemes/ApiKeyHeader.yaml
