openapi: 3.1.0
info:
  title: Flashcards Open Source App External AI-Agent API
  version: v1
  description: >-
    Public API contract for external AI agents. This document excludes internal
    sync transport, local chat runtime endpoints, and human-only agent
    connection management.
servers:
  - url: https://api.flashcards-open-source-app.com/v1
    description: >-
      Canonical API host for discovery, bootstrap, docs, and external agent
      tools
  - url: https://auth.flashcards-open-source-app.com
    description: Auth host for agent auth bootstrap
tags:
  - name: discovery
    description: Entry points and documentation aliases for the external AI-agent contract.
  - name: auth
    description: >-
      Agent auth bootstrap on the auth host. Normal accounts use email OTP;
      configured review/demo accounts use a deterministic placeholder code.
      These routes issue long-lived ApiKey credentials.
  - name: bootstrap
    description: >-
      Agent-oriented account and workspace bootstrap after ApiKey
      authentication, including per-connection workspace selection.
  - name: sql
    description: >-
      Single SQL entrypoint for the selected workspace. Internal sync mechanics
      stay server-side and are not part of this public contract.
paths:
  /:
    $ref: paths/_.yaml
  /agent:
    $ref: paths/agent.yaml
  /openapi.json:
    $ref: paths/openapi.json.yaml
  /swagger.json:
    $ref: paths/swagger.json.yaml
  /agent/openapi.json:
    $ref: paths/agent_openapi.json.yaml
  /agent/swagger.json:
    $ref: paths/agent_swagger.json.yaml
  /api/agent/send-code:
    $ref: paths/api_agent_send-code.yaml
  /api/agent/verify-code:
    $ref: paths/api_agent_verify-code.yaml
  /me:
    get:
      tags:
        - bootstrap
      summary: Load signed-in account context
      description: >-
        Returns the authenticated account profile, selected workspace id,
        CSRF token for session callers, and server-owned account preferences.
      security:
        - BearerAuth: []
        - GuestAuthorizationHeader: []
        - SessionCookie: []
      responses:
        '200':
          description: Account context
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeResponse'
              example:
                userId: user-1
                selectedWorkspaceId: 50b5b928-7f04-4cc8-878d-6cd0e8b98474
                authTransport: session
                csrfToken: csrf-token
                profile:
                  email: kirill@example.com
                  locale: en
                  createdAt: '2026-03-07T10:40:54.589Z'
                preferences:
                  reviewReactionAnimationsEnabled: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /me/preferences:
    patch:
      tags:
        - bootstrap
      summary: Update signed-in account preferences
      description: >-
        Persists server-owned preferences on the account. Session callers must
        send a valid X-CSRF-Token header. ApiKey authentication is rejected.
      security:
        - BearerAuth: []
        - GuestAuthorizationHeader: []
        - SessionCookie: []
          CsrfTokenHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountPreferences'
            example:
              reviewReactionAnimationsEnabled: false
      responses:
        '200':
          description: Updated account preferences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPreferencesResponse'
              example:
                preferences:
                  reviewReactionAnimationsEnabled: false
        '400':
          description: Invalid preference payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden authentication transport or invalid session CSRF token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /me/community/profile:
    get:
      tags:
        - bootstrap
      summary: Load community public profile
      description: >-
        Ensures the authenticated app user or guest has a stable opaque public
        community profile and returns only client-safe public profile fields.
        Guest callers can manage anonymous leaderboard visibility but still
        receive linkedAccountRequiredForLeaderboard=true until they link an
        account. ApiKey authentication is rejected.
      security:
        - BearerAuth: []
        - GuestAuthorizationHeader: []
        - SessionCookie: []
      responses:
        '200':
          description: Community public profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityPublicProfileResponse'
              example:
                publicProfileId: 0cc86d10-18cb-4d64-a2f2-a5fd960b45b2
                anonymousDisplayName: Silver Bright Harbor
                leaderboardParticipationEnabled: true
                linkedAccountRequiredForLeaderboard: false
        '403':
          description: Forbidden authentication transport
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
        - bootstrap
      summary: Update community leaderboard participation preference
      description: >-
        Updates only the leaderboard participation preference on the
        authenticated app user's or guest's community public profile. Session
        callers must send a valid X-CSRF-Token header. ApiKey authentication is
        rejected.
      security:
        - BearerAuth: []
        - GuestAuthorizationHeader: []
        - SessionCookie: []
          CsrfTokenHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommunityProfilePatchRequest'
            example:
              leaderboardParticipationEnabled: false
      responses:
        '200':
          description: Updated community public profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityPublicProfileResponse'
              example:
                publicProfileId: 0cc86d10-18cb-4d64-a2f2-a5fd960b45b2
                anonymousDisplayName: Silver Bright Harbor
                leaderboardParticipationEnabled: false
                linkedAccountRequiredForLeaderboard: false
        '400':
          description: Invalid community profile payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden authentication transport or invalid session CSRF token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /me/progress/leaderboard:
    get:
      tags:
        - bootstrap
      summary: Load the compact community Progress leaderboard
      description: >-
        Returns all five leaderboard windows in one payload for the Progress tab,
        each with viewer-perspective ranks, the per-viewer tie rule, and the
        server-computed compact rows so every client renders the same list.
        Ready windows also include rankingRows, the full frozen viewer-perspective
        ranking list with no gaps, so clients can locally reinsert the viewer
        with live local counts. Compact rows include gap rows for hidden ranks
        and a final last-place row when hidden participants remain below the
        viewer-neighbor group.
        Guests receive status linked_account_required and opted-out users receive
        participation_disabled, both with no other users' rows. ApiKey
        authentication is rejected. Only opaque public profile ids and
        locale-derived anonymous display names are returned; internal user ids and
        raw review timestamps are never exposed.
      security:
        - BearerAuth: []
        - GuestAuthorizationHeader: []
        - SessionCookie: []
      responses:
        '200':
          description: Compact community leaderboard
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgressLeaderboardResponse'
              example:
                status: ready
                metric:
                  metricVersion: qualified_reviews_v1
                  title: Qualified reviews
                  description: Hard, Good, and Easy reviews count toward your rank. Again does not.
                defaultWindowKey: last_24_hours
                windows:
                  - windowKey: last_24_hours
                    snapshotId: 0cc86d10-18cb-4d64-a2f2-a5fd960b45b2
                    snapshotGeneratedAt: '2026-06-10T14:00:05.000Z'
                    asOfServerHour: '2026-06-10T14:00:00.000Z'
                    nextRefreshAfter: '2026-06-10T15:00:00.000Z'
                    participantCount: 8
                    viewer:
                      publicProfileId: 5b9d3f2a-1c4e-4a7b-9f0d-2e6c8a1b4d7f
                      displayName: You
                      rank: 6
                      qualifiedReviewCount: 7
                    rows:
                      - kind: top
                        publicProfileId: a1d2c3b4-5e6f-4a8b-9c0d-1e2f3a4b5c6d
                        anonymousDisplayName: Silver Bright Harbor
                        qualifiedReviewCount: 51
                        rank: 1
                      - kind: top
                        publicProfileId: d4e5f6a7-8192-4d0e-af3b-4c5d6e7f8091
                        anonymousDisplayName: Violet Calm Ridge
                        qualifiedReviewCount: 44
                        rank: 2
                      - kind: top
                        publicProfileId: e5f6a7b8-9203-4e1f-b04c-5d6e7f8091a2
                        anonymousDisplayName: Indigo Clear Grove
                        qualifiedReviewCount: 30
                        rank: 3
                      - kind: gap
                      - kind: neighbor
                        publicProfileId: b2c3d4e5-6f70-4b9c-8d1e-2f3a4b5c6d7e
                        anonymousDisplayName: Amber Calm Meadow
                        qualifiedReviewCount: 8
                        rank: 5
                      - kind: viewer
                        publicProfileId: 5b9d3f2a-1c4e-4a7b-9f0d-2e6c8a1b4d7f
                        anonymousDisplayName: Jade Swift River
                        qualifiedReviewCount: 7
                        rank: 6
                      - kind: neighbor
                        publicProfileId: c3d4e5f6-7081-4c0d-9e2f-3a4b5c6d7e8f
                        anonymousDisplayName: Coral Keen Valley
                        qualifiedReviewCount: 6
                        rank: 7
                      - kind: neighbor
                        publicProfileId: f6a7b8c9-0314-4f20-805d-6e7f8091a2b3
                        anonymousDisplayName: Blue Final Harbor
                        qualifiedReviewCount: 0
                        rank: 8
                    rankingRows:
                      - kind: participant
                        publicProfileId: a1d2c3b4-5e6f-4a8b-9c0d-1e2f3a4b5c6d
                        anonymousDisplayName: Silver Bright Harbor
                        qualifiedReviewCount: 51
                        rank: 1
                      - kind: participant
                        publicProfileId: d4e5f6a7-8192-4d0e-af3b-4c5d6e7f8091
                        anonymousDisplayName: Violet Calm Ridge
                        qualifiedReviewCount: 44
                        rank: 2
                      - kind: participant
                        publicProfileId: e5f6a7b8-9203-4e1f-b04c-5d6e7f8091a2
                        anonymousDisplayName: Indigo Clear Grove
                        qualifiedReviewCount: 30
                        rank: 3
                      - kind: participant
                        publicProfileId: 8091a2b3-c4d5-4e6f-8708-91a2b3c4d5e6
                        anonymousDisplayName: Green Quiet Summit
                        qualifiedReviewCount: 12
                        rank: 4
                      - kind: participant
                        publicProfileId: b2c3d4e5-6f70-4b9c-8d1e-2f3a4b5c6d7e
                        anonymousDisplayName: Amber Calm Meadow
                        qualifiedReviewCount: 8
                        rank: 5
                      - kind: viewer
                        publicProfileId: 5b9d3f2a-1c4e-4a7b-9f0d-2e6c8a1b4d7f
                        anonymousDisplayName: Jade Swift River
                        qualifiedReviewCount: 7
                        rank: 6
                      - kind: participant
                        publicProfileId: c3d4e5f6-7081-4c0d-9e2f-3a4b5c6d7e8f
                        anonymousDisplayName: Coral Keen Valley
                        qualifiedReviewCount: 6
                        rank: 7
                      - kind: participant
                        publicProfileId: f6a7b8c9-0314-4f20-805d-6e7f8091a2b3
                        anonymousDisplayName: Blue Final Harbor
                        qualifiedReviewCount: 0
                        rank: 8
        '403':
          description: Forbidden authentication transport
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /agent/me:
    $ref: paths/agent_me.yaml
  /agent/workspaces:
    $ref: paths/agent_workspaces.yaml
  /agent/workspaces/{workspaceId}/select:
    $ref: paths/agent_workspaces_{workspaceId}_select.yaml
  /agent/sql:
    $ref: paths/agent_sql.yaml
components:
  securitySchemes:
    ApiKeyHeader:
      $ref: ./components/security-schemes/ApiKeyHeader.yaml
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Cognito ID token
    GuestAuthorizationHeader:
      type: apiKey
      in: header
      name: Authorization
      description: Guest session token formatted as `Guest <token>`.
    SessionCookie:
      type: apiKey
      in: cookie
      name: session
    CsrfTokenHeader:
      type: apiKey
      in: header
      name: X-CSRF-Token
  schemas:
    AccountPreferences:
      type: object
      additionalProperties: false
      required:
        - reviewReactionAnimationsEnabled
      properties:
        reviewReactionAnimationsEnabled:
          type: boolean
          default: true
    AccountPreferencesResponse:
      type: object
      additionalProperties: false
      required:
        - preferences
      properties:
        preferences:
          $ref: '#/components/schemas/AccountPreferences'
    CommunityProfilePatchRequest:
      type: object
      additionalProperties: false
      required:
        - leaderboardParticipationEnabled
      properties:
        leaderboardParticipationEnabled:
          type: boolean
          default: true
    CommunityPublicProfileResponse:
      type: object
      additionalProperties: false
      required:
        - publicProfileId
        - anonymousDisplayName
        - leaderboardParticipationEnabled
        - linkedAccountRequiredForLeaderboard
      properties:
        publicProfileId:
          $ref: ./components/schemas/UuidString.yaml
        anonymousDisplayName:
          type: string
          description: Locale-aware anonymous display label derived from the public profile id.
        leaderboardParticipationEnabled:
          type: boolean
        linkedAccountRequiredForLeaderboard:
          type: boolean
    LeaderboardWindowKey:
      type: string
      enum:
        - last_24_hours
        - last_3_days
        - last_7_days
        - last_30_days
        - all_time
    ProgressLeaderboardMetric:
      type: object
      additionalProperties: false
      required:
        - metricVersion
        - title
        - description
      properties:
        metricVersion:
          type: string
          enum:
            - qualified_reviews_v1
        title:
          type: string
        description:
          type: string
          description: Communicates that Hard, Good, and Easy reviews count while Again does not.
    ProgressLeaderboardViewer:
      type: object
      additionalProperties: false
      required:
        - publicProfileId
        - displayName
        - rank
        - qualifiedReviewCount
      properties:
        publicProfileId:
          $ref: ./components/schemas/UuidString.yaml
        displayName:
          type: string
          enum:
            - You
          description: Always "You"; clients render the viewer row using the row kind.
        rank:
          type: integer
          minimum: 1
        qualifiedReviewCount:
          type: integer
          minimum: 0
    ProgressLeaderboardParticipantRow:
      type: object
      additionalProperties: false
      required:
        - kind
        - publicProfileId
        - anonymousDisplayName
        - qualifiedReviewCount
        - rank
      properties:
        kind:
          type: string
          enum:
            - top
            - neighbor
            - viewer
        publicProfileId:
          $ref: ./components/schemas/UuidString.yaml
        anonymousDisplayName:
          type: string
          description: Locale-aware anonymous display label derived from the public profile id.
        qualifiedReviewCount:
          type: integer
          minimum: 0
        rank:
          type: integer
          minimum: 1
    ProgressLeaderboardGapRow:
      type: object
      additionalProperties: false
      required:
        - kind
      properties:
        kind:
          type: string
          enum:
            - gap
    ProgressLeaderboardRow:
      oneOf:
        - $ref: '#/components/schemas/ProgressLeaderboardParticipantRow'
        - $ref: '#/components/schemas/ProgressLeaderboardGapRow'
    ProgressLeaderboardRankingRow:
      type: object
      additionalProperties: false
      required:
        - kind
        - publicProfileId
        - anonymousDisplayName
        - qualifiedReviewCount
        - rank
      properties:
        kind:
          type: string
          enum:
            - participant
            - viewer
        publicProfileId:
          $ref: ./components/schemas/UuidString.yaml
        anonymousDisplayName:
          type: string
          description: Locale-aware anonymous display label derived from the public profile id.
        qualifiedReviewCount:
          type: integer
          minimum: 0
        rank:
          type: integer
          minimum: 1
    ProgressLeaderboardWindow:
      type: object
      additionalProperties: false
      required:
        - windowKey
        - snapshotId
        - snapshotGeneratedAt
        - asOfServerHour
        - nextRefreshAfter
        - participantCount
        - viewer
        - rows
        - rankingRows
      properties:
        windowKey:
          $ref: '#/components/schemas/LeaderboardWindowKey'
        snapshotId:
          $ref: ./components/schemas/UuidString.yaml
        snapshotGeneratedAt:
          type: string
          format: date-time
        asOfServerHour:
          type: string
          format: date-time
        nextRefreshAfter:
          type: string
          format: date-time
        participantCount:
          type: integer
          minimum: 0
          description: >-
            Size of the viewer-perspective ranking. Includes all opted-in linked
            non-demo public profiles, including profiles with count 0, and always
            includes the viewer so the viewer rank is never greater than this value.
        viewer:
          $ref: '#/components/schemas/ProgressLeaderboardViewer'
        rows:
          type: array
          items:
            $ref: '#/components/schemas/ProgressLeaderboardRow'
        rankingRows:
          type: array
          description: Full frozen viewer-perspective ranking list with contiguous ranks and no gap rows.
          items:
            $ref: '#/components/schemas/ProgressLeaderboardRankingRow'
    ProgressLeaderboardResponse:
      type: object
      additionalProperties: false
      required:
        - status
        - metric
        - defaultWindowKey
        - windows
      properties:
        status:
          type: string
          enum:
            - ready
            - linked_account_required
            - participation_disabled
            - snapshot_unavailable
        metric:
          $ref: '#/components/schemas/ProgressLeaderboardMetric'
        defaultWindowKey:
          $ref: '#/components/schemas/LeaderboardWindowKey'
          description: >-
            Client default selection. Ready responses choose the window where
            the viewer has the lowest rank number; tied ranks prefer the
            shortest period in canonical window order.
        windows:
          type: array
          description: Empty unless status is ready; otherwise one item per leaderboard window.
          items:
            $ref: '#/components/schemas/ProgressLeaderboardWindow'
    ErrorResponse:
      type: object
      additionalProperties: true
      required:
        - error
      properties:
        error:
          type: string
        requestId:
          type:
            - string
            - 'null'
        code:
          type:
            - string
            - 'null'
    MeResponse:
      type: object
      additionalProperties: false
      required:
        - userId
        - selectedWorkspaceId
        - authTransport
        - csrfToken
        - profile
        - preferences
      properties:
        userId:
          type: string
        selectedWorkspaceId:
          anyOf:
            - $ref: ./components/schemas/UuidString.yaml
            - type: 'null'
        authTransport:
          type: string
          enum:
            - bearer
            - guest
            - session
        csrfToken:
          type:
            - string
            - 'null'
        profile:
          type: object
          additionalProperties: false
          required:
            - email
            - locale
            - createdAt
          properties:
            email:
              type:
                - string
                - 'null'
              format: email
            locale:
              type: string
            createdAt:
              type: string
              format: date-time
        preferences:
          $ref: '#/components/schemas/AccountPreferences'
