{
  "openapi": "3.1.0",
  "info": {
    "title": "Flashcards Open Source App External AI-Agent API",
    "version": "v1",
    "description": "Public machine-facing contract for external AI agents. This document intentionally excludes first-party/internal routes such as sync transport, local chat runtime endpoints, and human-only agent connection management even when those routes remain live for web or iOS clients."
  },
  "servers": [
    {
      "url": "https://api.flashcards-open-source-app.com/v1",
      "description": "Canonical API host for discovery, bootstrap, docs, and external agent tools"
    },
    {
      "url": "https://auth.flashcards-open-source-app.com",
      "description": "Auth host for email OTP bootstrap"
    }
  ],
  "tags": [
    {
      "name": "discovery",
      "description": "Entry points and documentation aliases for the external AI-agent contract."
    },
    {
      "name": "auth",
      "description": "Email OTP bootstrap on the auth host. These routes issue long-lived ApiKey credentials."
    },
    {
      "name": "bootstrap",
      "description": "Agent-oriented account and workspace bootstrap after ApiKey authentication, including per-connection workspace selection."
    },
    {
      "name": "tools",
      "description": "Compact bulk-friendly tool endpoints for the selected workspace. Internal sync mechanics stay server-side and are not part of this public contract."
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "discovery"
        ],
        "summary": "Discovery alias",
        "description": "Primary discovery entrypoint. Returns the same compact envelope as GET /agent.",
        "responses": {
          "200": {
            "description": "Agent discovery envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentDiscoveryEnvelope"
                },
                "example": {
                  "ok": true,
                  "data": {
                    "service": {
                      "name": "flashcards-open-source-app",
                      "version": "v1",
                      "description": "Offline-first flashcards service with user-owned workspaces and AI-friendly API onboarding."
                    },
                    "authentication": {
                      "type": "email_otp_then_api_key",
                      "registerAndLogin": "Ask which email the user wants to use, then start the same flow for both new and existing users."
                    },
                    "capabilitiesAfterLogin": [
                      "Load account context",
                      "Select a workspace",
                      "Read and write cards and decks"
                    ],
                    "authBaseUrl": "https://auth.flashcards-open-source-app.com",
                    "apiBaseUrl": "https://api.flashcards-open-source-app.com/v1",
                    "docs": {
                      "openapiUrl": "https://api.flashcards-open-source-app.com/v1/agent/openapi.json",
                      "swaggerUrl": "https://api.flashcards-open-source-app.com/v1/agent/swagger.json"
                    }
                  },
                  "actions": [
                    {
                      "name": "send_code",
                      "method": "POST",
                      "url": "https://auth.flashcards-open-source-app.com/api/agent/send-code",
                      "input": {
                        "required": [
                          "email"
                        ]
                      }
                    },
                    {
                      "name": "openapi",
                      "method": "GET",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/openapi.json"
                    }
                  ],
                  "instructions": "Start with send_code. After login, call https://api.flashcards-open-source-app.com/v1/agent/me, then https://api.flashcards-open-source-app.com/v1/agent/workspaces?limit=100. A first workspace is auto-provisioned for new users. For paginated responses, pass data.nextCursor back unchanged as the cursor query parameter or JSON field and stop when data.nextCursor is null. Read payload from data.* (for example, data.workspaces). Do not expect resource fields at the top level. Select the next endpoint from instructions and confirm it with actions.",
                  "docs": {
                    "openapiUrl": "https://api.flashcards-open-source-app.com/v1/agent/openapi.json",
                    "swaggerUrl": "https://api.flashcards-open-source-app.com/v1/agent/swagger.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agent": {
      "get": {
        "tags": [
          "discovery"
        ],
        "summary": "Agent discovery",
        "description": "Discovery envelope for external AI agents. Includes auth bootstrap actions, explicit workspace-selection flow guidance, and links to the public agent-only OpenAPI document.",
        "responses": {
          "200": {
            "description": "Agent discovery envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentDiscoveryEnvelope"
                },
                "example": {
                  "ok": true,
                  "data": {
                    "service": {
                      "name": "flashcards-open-source-app",
                      "version": "v1",
                      "description": "Offline-first flashcards service with user-owned workspaces and AI-friendly API onboarding."
                    },
                    "authentication": {
                      "type": "email_otp_then_api_key",
                      "registerAndLogin": "Ask which email the user wants to use, then start the same flow for both new and existing users."
                    },
                    "capabilitiesAfterLogin": [
                      "Load account context",
                      "Select a workspace",
                      "Read and write cards and decks"
                    ],
                    "authBaseUrl": "https://auth.flashcards-open-source-app.com",
                    "apiBaseUrl": "https://api.flashcards-open-source-app.com/v1",
                    "docs": {
                      "openapiUrl": "https://api.flashcards-open-source-app.com/v1/agent/openapi.json",
                      "swaggerUrl": "https://api.flashcards-open-source-app.com/v1/agent/swagger.json"
                    }
                  },
                  "actions": [
                    {
                      "name": "send_code",
                      "method": "POST",
                      "url": "https://auth.flashcards-open-source-app.com/api/agent/send-code",
                      "input": {
                        "required": [
                          "email"
                        ]
                      }
                    },
                    {
                      "name": "openapi",
                      "method": "GET",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/openapi.json"
                    }
                  ],
                  "instructions": "Start with send_code. After login, call https://api.flashcards-open-source-app.com/v1/agent/me, then https://api.flashcards-open-source-app.com/v1/agent/workspaces?limit=100. A first workspace is auto-provisioned for new users. For paginated responses, pass data.nextCursor back unchanged as the cursor query parameter or JSON field and stop when data.nextCursor is null. Read payload from data.* (for example, data.workspaces). Do not expect resource fields at the top level. Select the next endpoint from instructions and confirm it with actions.",
                  "docs": {
                    "openapiUrl": "https://api.flashcards-open-source-app.com/v1/agent/openapi.json",
                    "swaggerUrl": "https://api.flashcards-open-source-app.com/v1/agent/swagger.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "tags": [
          "discovery"
        ],
        "summary": "OpenAPI alias",
        "description": "Alias for the same external AI-agent OpenAPI JSON document served at /agent/openapi.json.",
        "responses": {
          "200": {
            "description": "External AI-agent OpenAPI JSON document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiDocument"
                },
                "example": {
                  "openapi": "3.1.0",
                  "info": {
                    "title": "Flashcards Open Source App External AI-Agent API",
                    "version": "v1"
                  },
                  "paths": {
                    "/agent": {
                      "get": {
                        "summary": "Agent discovery"
                      }
                    }
                  },
                  "components": {
                    "schemas": {
                      "AgentDiscoveryEnvelope": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/swagger.json": {
      "get": {
        "tags": [
          "discovery"
        ],
        "summary": "Swagger alias",
        "description": "Alias for the same external AI-agent OpenAPI JSON document served at /agent/openapi.json.",
        "responses": {
          "200": {
            "description": "External AI-agent OpenAPI JSON document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiDocument"
                },
                "example": {
                  "openapi": "3.1.0",
                  "info": {
                    "title": "Flashcards Open Source App External AI-Agent API",
                    "version": "v1"
                  },
                  "paths": {
                    "/agent": {
                      "get": {
                        "summary": "Agent discovery"
                      }
                    }
                  },
                  "components": {
                    "schemas": {
                      "AgentDiscoveryEnvelope": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agent/openapi.json": {
      "get": {
        "tags": [
          "discovery"
        ],
        "summary": "Canonical OpenAPI document",
        "description": "Canonical external AI-agent OpenAPI JSON document. It deliberately omits internal and first-party-only routes.",
        "responses": {
          "200": {
            "description": "External AI-agent OpenAPI JSON document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiDocument"
                },
                "example": {
                  "openapi": "3.1.0",
                  "info": {
                    "title": "Flashcards Open Source App External AI-Agent API",
                    "version": "v1"
                  },
                  "paths": {
                    "/agent": {
                      "get": {
                        "summary": "Agent discovery"
                      }
                    }
                  },
                  "components": {
                    "schemas": {
                      "AgentDiscoveryEnvelope": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agent/swagger.json": {
      "get": {
        "tags": [
          "discovery"
        ],
        "summary": "Canonical Swagger alias",
        "description": "Alias for the same external AI-agent OpenAPI JSON document served at /agent/openapi.json.",
        "responses": {
          "200": {
            "description": "External AI-agent OpenAPI JSON document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiDocument"
                },
                "example": {
                  "openapi": "3.1.0",
                  "info": {
                    "title": "Flashcards Open Source App External AI-Agent API",
                    "version": "v1"
                  },
                  "paths": {
                    "/agent": {
                      "get": {
                        "summary": "Agent discovery"
                      }
                    }
                  },
                  "components": {
                    "schemas": {
                      "AgentDiscoveryEnvelope": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/send-code": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Send OTP code",
        "description": "Starts the external AI-agent auth flow by emailing an 8-digit OTP code and returning a short opaque otpSessionToken.",
        "servers": [
          {
            "url": "https://auth.flashcards-open-source-app.com",
            "description": "Auth host for email OTP bootstrap"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentSendCodeInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP challenge created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSendCodeEnvelope"
                },
                "example": {
                  "ok": true,
                  "data": {
                    "email": "user@example.com",
                    "otpSessionToken": "ABCD-EFGH-IJKL-MNPQ-1234",
                    "expiresInSeconds": 180,
                    "authBaseUrl": "https://auth.flashcards-open-source-app.com",
                    "apiBaseUrl": "https://api.flashcards-open-source-app.com/v1"
                  },
                  "actions": [
                    {
                      "name": "verify_code",
                      "method": "POST",
                      "url": "https://auth.flashcards-open-source-app.com/api/agent/verify-code",
                      "input": {
                        "required": [
                          "code",
                          "otpSessionToken",
                          "label"
                        ]
                      }
                    }
                  ],
                  "instructions": "A verification code has been sent. Read payload from data.* (data.otpSessionToken). Do not expect OTP fields at the top level. Use instructions to pick the next call and confirm with actions.",
                  "docs": {
                    "openapiUrl": "https://api.flashcards-open-source-app.com/v1/agent/openapi.json",
                    "swaggerUrl": "https://api.flashcards-open-source-app.com/v1/agent/swagger.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/verify-code": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Verify OTP code and issue API key",
        "description": "Completes email OTP authentication and returns a long-lived ApiKey plus a connection descriptor for the external AI agent, followed by explicit account/workspace bootstrap actions.",
        "servers": [
          {
            "url": "https://auth.flashcards-open-source-app.com",
            "description": "Auth host for email OTP bootstrap"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentVerifyCodeInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentVerifyCodeEnvelope"
                },
                "example": {
                  "ok": true,
                  "data": {
                    "apiKey": "fca_ABCDEFGH_0123456789ABCDEFGHJKMNPQRS",
                    "authorizationScheme": "ApiKey",
                    "apiBaseUrl": "https://api.flashcards-open-source-app.com/v1",
                    "connection": {
                      "connectionId": "connection-1",
                      "label": "codex-import-bot",
                      "createdAt": "2026-03-11T08:55:00.000Z",
                      "lastUsedAt": null,
                      "revokedAt": null
                    }
                  },
                  "actions": [
                    {
                      "name": "load_account",
                      "method": "GET",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/me",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "list_workspaces",
                      "method": "GET",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/workspaces?limit=100",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "create_workspace",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/workspaces",
                      "input": {
                        "required": [
                          "name"
                        ]
                      },
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "select_workspace",
                      "method": "POST",
                      "urlTemplate": "https://api.flashcards-open-source-app.com/v1/agent/workspaces/{workspaceId}/select",
                      "input": {
                        "required": [
                          "workspaceId"
                        ]
                      },
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    }
                  ],
                  "instructions": "Store this API key securely. Read payload from data.* (data.apiKey, data.connection). Do not expect resource fields at the top level. Select next calls from instructions and confirm with actions: GET https://api.flashcards-open-source-app.com/v1/agent/me, GET https://api.flashcards-open-source-app.com/v1/agent/workspaces?limit=100, then select a workspace if needed. For paginated responses, pass data.nextCursor back unchanged as the cursor query parameter or JSON field and stop when data.nextCursor is null. The first workspace is auto-provisioned for new users; use create only for additional workspaces.",
                  "docs": {
                    "openapiUrl": "https://api.flashcards-open-source-app.com/v1/agent/openapi.json",
                    "swaggerUrl": "https://api.flashcards-open-source-app.com/v1/agent/swagger.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agent/me": {
      "get": {
        "tags": [
          "bootstrap"
        ],
        "summary": "Load agent account context",
        "description": "Returns the authenticated user profile, the currently selected workspace id for this API key connection, and explicit next-step bootstrap actions.",
        "security": [
          {
            "ApiKeyHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "Agent account envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentAccountEnvelope"
                },
                "example": {
                  "ok": true,
                  "data": {
                    "userId": "user-1",
                    "selectedWorkspaceId": "50b5b928-7f04-4cc8-878d-6cd0e8b98474",
                    "authTransport": "api_key",
                    "profile": {
                      "email": "kirill@example.com",
                      "locale": "en",
                      "createdAt": "2026-03-07T10:40:54.589Z"
                    }
                  },
                  "actions": [
                    {
                      "name": "list_workspaces",
                      "method": "GET",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/workspaces?limit=100",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    }
                  ],
                  "instructions": "Call GET https://api.flashcards-open-source-app.com/v1/agent/workspaces?limit=100 next. A first workspace is auto-provisioned for new users. For paginated responses, pass data.nextCursor back unchanged as the cursor query parameter or JSON field and stop when data.nextCursor is null. Read payload from data.* (for this endpoint: data.selectedWorkspaceId, data.profile). Do not expect account fields at the top level. Select the next endpoint from instructions and confirm it with actions.",
                  "docs": {
                    "openapiUrl": "https://api.flashcards-open-source-app.com/v1/agent/openapi.json",
                    "swaggerUrl": "https://api.flashcards-open-source-app.com/v1/agent/swagger.json"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Agent error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/agent/workspaces": {
      "get": {
        "tags": [
          "bootstrap"
        ],
        "summary": "List workspaces for the external agent",
        "description": "Lists the user's workspaces in an agent-oriented envelope and points the caller to either create a workspace, select one for the current API key connection, or continue to tools.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PageLimit"
            },
            "description": "Explicit page size. Start with 100."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/OpaqueCursor"
                },
                {
                  "type": "null"
                }
              ]
            },
            "description": "Opaque cursor from the previous page. Start with null or omit it on the first request."
          }
        ],
        "security": [
          {
            "ApiKeyHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "Agent workspaces envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentWorkspacesEnvelope"
                },
                "example": {
                  "ok": true,
                  "data": {
                    "workspaces": [
                      {
                        "workspaceId": "50b5b928-7f04-4cc8-878d-6cd0e8b98474",
                        "name": "Kirill Flashcards",
                        "createdAt": "2026-03-11T08:50:55.898Z",
                        "isSelected": true
                      }
                    ],
                    "nextCursor": null
                  },
                  "actions": [
                    {
                      "name": "list_tools",
                      "method": "GET",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "get_workspace_context",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/get_workspace_context",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "search_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/search_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "create_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/create_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    }
                  ],
                  "instructions": "Workspace bootstrap is complete. Read payload from data.* (data.workspaces, data.nextCursor). Do not expect workspaces at the top level. For paginated responses, pass data.nextCursor back unchanged as the cursor query parameter or JSON field and stop when data.nextCursor is null. Select next endpoint from instructions and confirm with actions: GET https://api.flashcards-open-source-app.com/v1/agent/tools then POST https://api.flashcards-open-source-app.com/v1/agent/tools/get_workspace_context.",
                  "docs": {
                    "openapiUrl": "https://api.flashcards-open-source-app.com/v1/agent/openapi.json",
                    "swaggerUrl": "https://api.flashcards-open-source-app.com/v1/agent/swagger.json"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Agent error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "bootstrap"
        ],
        "summary": "Create workspace for the external agent",
        "description": "Creates a workspace and immediately marks it as selected for the current API key connection, then returns the ready-state agent envelope.",
        "security": [
          {
            "ApiKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkspaceInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Workspace created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentWorkspaceEnvelope"
                },
                "example": {
                  "ok": true,
                  "data": {
                    "workspace": {
                      "workspaceId": "50b5b928-7f04-4cc8-878d-6cd0e8b98474",
                      "name": "Kirill Flashcards",
                      "createdAt": "2026-03-11T08:50:55.898Z",
                      "isSelected": true
                    }
                  },
                  "actions": [
                    {
                      "name": "list_tools",
                      "method": "GET",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "get_workspace_context",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/get_workspace_context",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "search_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/search_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "create_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/create_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    }
                  ],
                  "instructions": "Workspace is selected. Read payload from data.* (data.workspace). Do not expect workspace at the top level. Select next endpoint from instructions and confirm with actions.",
                  "docs": {
                    "openapiUrl": "https://api.flashcards-open-source-app.com/v1/agent/openapi.json",
                    "swaggerUrl": "https://api.flashcards-open-source-app.com/v1/agent/swagger.json"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Agent error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/agent/workspaces/{workspaceId}/select": {
      "post": {
        "tags": [
          "bootstrap"
        ],
        "summary": "Select workspace for the external agent",
        "description": "Marks a workspace as selected for the current API key connection and returns the ready-state agent envelope for subsequent tool calls.",
        "security": [
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/UuidString"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace selected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentWorkspaceEnvelope"
                },
                "example": {
                  "ok": true,
                  "data": {
                    "workspace": {
                      "workspaceId": "50b5b928-7f04-4cc8-878d-6cd0e8b98474",
                      "name": "Kirill Flashcards",
                      "createdAt": "2026-03-11T08:50:55.898Z",
                      "isSelected": true
                    }
                  },
                  "actions": [
                    {
                      "name": "list_tools",
                      "method": "GET",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "get_workspace_context",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/get_workspace_context",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "search_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/search_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "create_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/create_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    }
                  ],
                  "instructions": "Workspace is selected. Read payload from data.* (data.workspace). Do not expect workspace at the top level. Select next endpoint from instructions and confirm with actions.",
                  "docs": {
                    "openapiUrl": "https://api.flashcards-open-source-app.com/v1/agent/openapi.json",
                    "swaggerUrl": "https://api.flashcards-open-source-app.com/v1/agent/swagger.json"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Agent error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/agent/tools": {
      "get": {
        "tags": [
          "tools"
        ],
        "summary": "List available external agent tools",
        "description": "Returns a compact tool catalog for the workspace selected on the current API key connection. Use this route for lightweight discovery instead of relying on internal endpoint families.",
        "security": [
          {
            "ApiKeyHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "Agent tool catalog envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentToolsEnvelope"
                },
                "example": {
                  "ok": true,
                  "data": {
                    "selectedWorkspaceId": "50b5b928-7f04-4cc8-878d-6cd0e8b98474",
                    "tools": [
                      {
                        "name": "list_cards",
                        "method": "POST",
                        "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/list_cards",
                        "description": "List cards from the selected workspace."
                      }
                    ]
                  },
                  "actions": [
                    {
                      "name": "list_tools",
                      "method": "GET",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "get_workspace_context",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/get_workspace_context",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "search_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/search_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "create_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/create_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    }
                  ],
                  "instructions": "Read payload from data.* (data.tools, data.selectedWorkspaceId). Do not expect tool catalog fields at the top level. Select the next endpoint from instructions and confirm it with actions.",
                  "docs": {
                    "openapiUrl": "https://api.flashcards-open-source-app.com/v1/agent/openapi.json",
                    "swaggerUrl": "https://api.flashcards-open-source-app.com/v1/agent/swagger.json"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Agent error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/agent/tools/get_workspace_context": {
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "Get workspace context",
        "description": "Loads the selected workspace summary, deck summary, and scheduler settings.",
        "security": [
          {
            "ApiKeyHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace context envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentWorkspaceContextEnvelope"
                },
                "example": {
                  "ok": true,
                  "data": {
                    "workspace": {
                      "workspaceId": "50b5b928-7f04-4cc8-878d-6cd0e8b98474",
                      "name": "Kirill Flashcards",
                      "createdAt": "2026-03-11T08:50:55.898Z",
                      "isSelected": true
                    },
                    "deckSummary": {
                      "totalCards": 1676,
                      "dueCards": 312,
                      "newCards": 910,
                      "reviewedCards": 766,
                      "totalReps": 2431,
                      "totalLapses": 121
                    },
                    "schedulerSettings": {
                      "algorithm": "fsrs-6",
                      "desiredRetention": 0.9,
                      "learningStepsMinutes": [
                        1,
                        10
                      ],
                      "relearningStepsMinutes": [
                        10
                      ],
                      "maximumIntervalDays": 36500,
                      "enableFuzz": true,
                      "clientUpdatedAt": "2026-03-11T08:50:55.898Z",
                      "lastModifiedByDeviceId": "58d59a91-3210-4581-ac3a-0f850f0ced6f",
                      "lastOperationId": "workspace-settings-op-1",
                      "updatedAt": "2026-03-11T08:50:55.898Z"
                    }
                  },
                  "actions": [
                    {
                      "name": "list_tools",
                      "method": "GET",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "list_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/list_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "list_decks",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/list_decks",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "create_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/create_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    }
                  ],
                  "instructions": "Read payload from data.* (data.workspace, data.deckSummary, data.schedulerSettings). Do not expect context fields at the top level. Select the next endpoint from instructions and confirm it with actions.",
                  "docs": {
                    "openapiUrl": "https://api.flashcards-open-source-app.com/v1/agent/openapi.json",
                    "swaggerUrl": "https://api.flashcards-open-source-app.com/v1/agent/swagger.json"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Agent error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/agent/tools/list_cards": {
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "List cards",
        "description": "Lists cards from the selected workspace. The server enforces a maximum response size even when limit is null.",
        "security": [
          {
            "ApiKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CursorPageInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cards listed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentListCardsEnvelope"
                },
                "example": {
                  "ok": true,
                  "data": {
                    "cards": [
                      {
                        "cardId": "be8d7f9f-4df4-472b-a1ca-c9cd5a8bc5c8",
                        "frontText": "What is eventual consistency?",
                        "backText": "A model where replicas converge to the same value over time without requiring immediate global consistency.",
                        "tags": [
                          "distributed-systems"
                        ],
                        "effortLevel": "fast",
                        "dueAt": "2026-03-11T09:00:00.000Z",
                        "reps": 3,
                        "lapses": 0,
                        "fsrsCardState": "review",
                        "fsrsStepIndex": null,
                        "fsrsStability": 12.34,
                        "fsrsDifficulty": 4.56,
                        "fsrsLastReviewedAt": "2026-03-10T09:00:00.000Z",
                        "fsrsScheduledDays": 4,
                        "clientUpdatedAt": "2026-03-10T09:00:00.000Z",
                        "lastModifiedByDeviceId": "58d59a91-3210-4581-ac3a-0f850f0ced6f",
                        "lastOperationId": "agent-op-1",
                        "updatedAt": "2026-03-10T09:00:00.000Z",
                        "deletedAt": null
                      }
                    ],
                    "nextCursor": null
                  },
                  "actions": [
                    {
                      "name": "list_tools",
                      "method": "GET",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "search_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/search_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "get_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/get_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "create_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/create_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    }
                  ],
                  "instructions": "Read payload from data.* (data.cards, data.nextCursor). Do not expect cards at the top level. For paginated responses, pass data.nextCursor back unchanged as the cursor query parameter or JSON field and stop when data.nextCursor is null. Select the next endpoint from instructions and confirm it with actions.",
                  "docs": {
                    "openapiUrl": "https://api.flashcards-open-source-app.com/v1/agent/openapi.json",
                    "swaggerUrl": "https://api.flashcards-open-source-app.com/v1/agent/swagger.json"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Agent error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/agent/tools/get_cards": {
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "Get cards by id",
        "description": "Loads one or more cards from the selected workspace by cardId.",
        "security": [
          {
            "ApiKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cards loaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentGetCardsEnvelope"
                },
                "example": {
                  "ok": true,
                  "data": {
                    "cards": [
                      {
                        "cardId": "be8d7f9f-4df4-472b-a1ca-c9cd5a8bc5c8",
                        "frontText": "What is eventual consistency?",
                        "backText": "A model where replicas converge to the same value over time without requiring immediate global consistency.",
                        "tags": [
                          "distributed-systems"
                        ],
                        "effortLevel": "fast",
                        "dueAt": "2026-03-11T09:00:00.000Z",
                        "reps": 3,
                        "lapses": 0,
                        "fsrsCardState": "review",
                        "fsrsStepIndex": null,
                        "fsrsStability": 12.34,
                        "fsrsDifficulty": 4.56,
                        "fsrsLastReviewedAt": "2026-03-10T09:00:00.000Z",
                        "fsrsScheduledDays": 4,
                        "clientUpdatedAt": "2026-03-10T09:00:00.000Z",
                        "lastModifiedByDeviceId": "58d59a91-3210-4581-ac3a-0f850f0ced6f",
                        "lastOperationId": "agent-op-1",
                        "updatedAt": "2026-03-10T09:00:00.000Z",
                        "deletedAt": null
                      }
                    ],
                    "returnedCount": 1
                  },
                  "actions": [
                    {
                      "name": "list_tools",
                      "method": "GET",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "get_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/get_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "update_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/update_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "delete_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/delete_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    }
                  ],
                  "instructions": "Read payload from data.* (data.cards). Do not expect cards at the top level. Select the next endpoint from instructions and confirm it with actions.",
                  "docs": {
                    "openapiUrl": "https://api.flashcards-open-source-app.com/v1/agent/openapi.json",
                    "swaggerUrl": "https://api.flashcards-open-source-app.com/v1/agent/swagger.json"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Agent error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/agent/tools/search_cards": {
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "Search cards",
        "description": "Searches cards by text, tags, or effort level within the selected workspace. The query is split by whitespace into up to 5 lowercase tokens (extra tokens are merged into the fifth token), every token must match, and each token may match any supported card field.",
        "security": [
          {
            "ApiKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CursorSearchInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cards found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSearchCardsEnvelope"
                },
                "example": {
                  "ok": true,
                  "data": {
                    "cards": [
                      {
                        "cardId": "be8d7f9f-4df4-472b-a1ca-c9cd5a8bc5c8",
                        "frontText": "What is eventual consistency?",
                        "backText": "A model where replicas converge to the same value over time without requiring immediate global consistency.",
                        "tags": [
                          "distributed-systems"
                        ],
                        "effortLevel": "fast",
                        "dueAt": "2026-03-11T09:00:00.000Z",
                        "reps": 3,
                        "lapses": 0,
                        "fsrsCardState": "review",
                        "fsrsStepIndex": null,
                        "fsrsStability": 12.34,
                        "fsrsDifficulty": 4.56,
                        "fsrsLastReviewedAt": "2026-03-10T09:00:00.000Z",
                        "fsrsScheduledDays": 4,
                        "clientUpdatedAt": "2026-03-10T09:00:00.000Z",
                        "lastModifiedByDeviceId": "58d59a91-3210-4581-ac3a-0f850f0ced6f",
                        "lastOperationId": "agent-op-1",
                        "updatedAt": "2026-03-10T09:00:00.000Z",
                        "deletedAt": null
                      }
                    ],
                    "nextCursor": null
                  },
                  "actions": [
                    {
                      "name": "list_tools",
                      "method": "GET",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "search_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/search_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "get_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/get_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "create_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/create_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    }
                  ],
                  "instructions": "Read payload from data.* (data.cards, data.nextCursor). Do not expect cards at the top level. For paginated responses, pass data.nextCursor back unchanged as the cursor query parameter or JSON field and stop when data.nextCursor is null. Search behavior: split query into lowercase whitespace terms (up to 5; extra terms are merged into the fifth term). A card matches only when every term is found in at least one supported card field (frontText, backText, tags, or effortLevel). Select the next endpoint from instructions and confirm it with actions.",
                  "docs": {
                    "openapiUrl": "https://api.flashcards-open-source-app.com/v1/agent/openapi.json",
                    "swaggerUrl": "https://api.flashcards-open-source-app.com/v1/agent/swagger.json"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Agent error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/agent/tools/list_due_cards": {
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "List due cards",
        "description": "Lists cards currently due for review in the selected workspace.",
        "security": [
          {
            "ApiKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CursorPageInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Due cards listed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentListDueCardsEnvelope"
                },
                "example": {
                  "ok": true,
                  "data": {
                    "cards": [
                      {
                        "cardId": "be8d7f9f-4df4-472b-a1ca-c9cd5a8bc5c8",
                        "frontText": "What is eventual consistency?",
                        "backText": "A model where replicas converge to the same value over time without requiring immediate global consistency.",
                        "tags": [
                          "distributed-systems"
                        ],
                        "effortLevel": "fast",
                        "dueAt": "2026-03-11T09:00:00.000Z",
                        "reps": 3,
                        "lapses": 0,
                        "fsrsCardState": "review",
                        "fsrsStepIndex": null,
                        "fsrsStability": 12.34,
                        "fsrsDifficulty": 4.56,
                        "fsrsLastReviewedAt": "2026-03-10T09:00:00.000Z",
                        "fsrsScheduledDays": 4,
                        "clientUpdatedAt": "2026-03-10T09:00:00.000Z",
                        "lastModifiedByDeviceId": "58d59a91-3210-4581-ac3a-0f850f0ced6f",
                        "lastOperationId": "agent-op-1",
                        "updatedAt": "2026-03-10T09:00:00.000Z",
                        "deletedAt": null
                      }
                    ],
                    "nextCursor": null
                  },
                  "actions": [
                    {
                      "name": "list_tools",
                      "method": "GET",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "search_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/search_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "get_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/get_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "create_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/create_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    }
                  ],
                  "instructions": "Read payload from data.* (data.cards, data.nextCursor). Do not expect cards at the top level. For paginated responses, pass data.nextCursor back unchanged as the cursor query parameter or JSON field and stop when data.nextCursor is null. Select the next endpoint from instructions and confirm it with actions.",
                  "docs": {
                    "openapiUrl": "https://api.flashcards-open-source-app.com/v1/agent/openapi.json",
                    "swaggerUrl": "https://api.flashcards-open-source-app.com/v1/agent/swagger.json"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Agent error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/agent/tools/list_decks": {
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "List decks",
        "description": "Lists decks from the selected workspace.",
        "security": [
          {
            "ApiKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CursorPageInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Decks listed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentListDecksEnvelope"
                },
                "example": {
                  "ok": true,
                  "data": {
                    "decks": [
                      {
                        "deckId": "db4e9fa3-6e56-4355-a35d-58bb0ef6f0e9",
                        "workspaceId": "50b5b928-7f04-4cc8-878d-6cd0e8b98474",
                        "name": "Distributed Systems",
                        "filterDefinition": {
                          "version": 2,
                          "effortLevels": [
                            "fast"
                          ],
                          "tags": [
                            "distributed-systems"
                          ]
                        },
                        "createdAt": "2026-03-10T10:00:00.000Z",
                        "clientUpdatedAt": "2026-03-10T10:00:00.000Z",
                        "lastModifiedByDeviceId": "58d59a91-3210-4581-ac3a-0f850f0ced6f",
                        "lastOperationId": "agent-deck-op-1",
                        "updatedAt": "2026-03-10T10:00:00.000Z",
                        "deletedAt": null
                      }
                    ],
                    "nextCursor": null
                  },
                  "actions": [
                    {
                      "name": "list_tools",
                      "method": "GET",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "search_decks",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/search_decks",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "get_decks",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/get_decks",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "create_decks",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/create_decks",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    }
                  ],
                  "instructions": "Read payload from data.* (data.decks, data.nextCursor). Do not expect decks at the top level. For paginated responses, pass data.nextCursor back unchanged as the cursor query parameter or JSON field and stop when data.nextCursor is null. Select the next endpoint from instructions and confirm it with actions.",
                  "docs": {
                    "openapiUrl": "https://api.flashcards-open-source-app.com/v1/agent/openapi.json",
                    "swaggerUrl": "https://api.flashcards-open-source-app.com/v1/agent/swagger.json"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Agent error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/agent/tools/get_decks": {
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "Get decks by id",
        "description": "Loads one or more decks from the selected workspace by deckId.",
        "security": [
          {
            "ApiKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDecksInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Decks loaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentGetDecksEnvelope"
                },
                "example": {
                  "ok": true,
                  "data": {
                    "decks": [
                      {
                        "deckId": "db4e9fa3-6e56-4355-a35d-58bb0ef6f0e9",
                        "workspaceId": "50b5b928-7f04-4cc8-878d-6cd0e8b98474",
                        "name": "Distributed Systems",
                        "filterDefinition": {
                          "version": 2,
                          "effortLevels": [
                            "fast"
                          ],
                          "tags": [
                            "distributed-systems"
                          ]
                        },
                        "createdAt": "2026-03-10T10:00:00.000Z",
                        "clientUpdatedAt": "2026-03-10T10:00:00.000Z",
                        "lastModifiedByDeviceId": "58d59a91-3210-4581-ac3a-0f850f0ced6f",
                        "lastOperationId": "agent-deck-op-1",
                        "updatedAt": "2026-03-10T10:00:00.000Z",
                        "deletedAt": null
                      }
                    ],
                    "returnedCount": 1
                  },
                  "actions": [
                    {
                      "name": "list_tools",
                      "method": "GET",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "get_decks",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/get_decks",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "update_decks",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/update_decks",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "delete_decks",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/delete_decks",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    }
                  ],
                  "instructions": "Read payload from data.* (data.decks). Do not expect decks at the top level. Select the next endpoint from instructions and confirm it with actions.",
                  "docs": {
                    "openapiUrl": "https://api.flashcards-open-source-app.com/v1/agent/openapi.json",
                    "swaggerUrl": "https://api.flashcards-open-source-app.com/v1/agent/swagger.json"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Agent error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/agent/tools/search_decks": {
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "Search decks",
        "description": "Searches decks by name, tags, or effort levels within the selected workspace. The query is split by whitespace into up to 5 lowercase tokens (extra tokens are merged into the fifth token) and a deck matches when any token matches.",
        "security": [
          {
            "ApiKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CursorSearchInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Decks found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSearchDecksEnvelope"
                },
                "example": {
                  "ok": true,
                  "data": {
                    "decks": [
                      {
                        "deckId": "db4e9fa3-6e56-4355-a35d-58bb0ef6f0e9",
                        "workspaceId": "50b5b928-7f04-4cc8-878d-6cd0e8b98474",
                        "name": "Distributed Systems",
                        "filterDefinition": {
                          "version": 2,
                          "effortLevels": [
                            "fast"
                          ],
                          "tags": [
                            "distributed-systems"
                          ]
                        },
                        "createdAt": "2026-03-10T10:00:00.000Z",
                        "clientUpdatedAt": "2026-03-10T10:00:00.000Z",
                        "lastModifiedByDeviceId": "58d59a91-3210-4581-ac3a-0f850f0ced6f",
                        "lastOperationId": "agent-deck-op-1",
                        "updatedAt": "2026-03-10T10:00:00.000Z",
                        "deletedAt": null
                      }
                    ],
                    "nextCursor": null
                  },
                  "actions": [
                    {
                      "name": "list_tools",
                      "method": "GET",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "search_decks",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/search_decks",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "get_decks",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/get_decks",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "create_decks",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/create_decks",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    }
                  ],
                  "instructions": "Read payload from data.* (data.decks, data.nextCursor). Do not expect decks at the top level. For paginated responses, pass data.nextCursor back unchanged as the cursor query parameter or JSON field and stop when data.nextCursor is null. Select the next endpoint from instructions and confirm it with actions.",
                  "docs": {
                    "openapiUrl": "https://api.flashcards-open-source-app.com/v1/agent/openapi.json",
                    "swaggerUrl": "https://api.flashcards-open-source-app.com/v1/agent/swagger.json"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Agent error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/agent/tools/list_review_history": {
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "List review history",
        "description": "Lists recent review events from the selected workspace, optionally filtered by cardId.",
        "security": [
          {
            "ApiKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListReviewHistoryInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Review history listed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentListReviewHistoryEnvelope"
                },
                "example": {
                  "ok": true,
                  "data": {
                    "history": [
                      {
                        "reviewEventId": "1f5f2d7b-0a4e-4012-a42c-8b6495a0c871",
                        "workspaceId": "50b5b928-7f04-4cc8-878d-6cd0e8b98474",
                        "cardId": "be8d7f9f-4df4-472b-a1ca-c9cd5a8bc5c8",
                        "deviceId": "58d59a91-3210-4581-ac3a-0f850f0ced6f",
                        "clientEventId": "client-review-1",
                        "rating": 3,
                        "reviewedAtClient": "2026-03-10T09:00:00.000Z",
                        "reviewedAtServer": "2026-03-10T09:00:01.000Z"
                      }
                    ],
                    "nextCursor": null
                  },
                  "actions": [
                    {
                      "name": "list_tools",
                      "method": "GET",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "list_review_history",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/list_review_history",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "get_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/get_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "search_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/search_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    }
                  ],
                  "instructions": "Read payload from data.* (data.history, data.nextCursor). Do not expect history at the top level. For paginated responses, pass data.nextCursor back unchanged as the cursor query parameter or JSON field and stop when data.nextCursor is null. Select the next endpoint from instructions and confirm it with actions.",
                  "docs": {
                    "openapiUrl": "https://api.flashcards-open-source-app.com/v1/agent/openapi.json",
                    "swaggerUrl": "https://api.flashcards-open-source-app.com/v1/agent/swagger.json"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Agent error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/agent/tools/get_scheduler_settings": {
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "Get scheduler settings",
        "description": "Loads scheduler settings for the selected workspace.",
        "security": [
          {
            "ApiKeyHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "Scheduler settings loaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentGetSchedulerSettingsEnvelope"
                },
                "example": {
                  "ok": true,
                  "data": {
                    "schedulerSettings": {
                      "algorithm": "fsrs-6",
                      "desiredRetention": 0.9,
                      "learningStepsMinutes": [
                        1,
                        10
                      ],
                      "relearningStepsMinutes": [
                        10
                      ],
                      "maximumIntervalDays": 36500,
                      "enableFuzz": true,
                      "clientUpdatedAt": "2026-03-11T08:50:55.898Z",
                      "lastModifiedByDeviceId": "58d59a91-3210-4581-ac3a-0f850f0ced6f",
                      "lastOperationId": "workspace-settings-op-1",
                      "updatedAt": "2026-03-11T08:50:55.898Z"
                    }
                  },
                  "actions": [
                    {
                      "name": "list_tools",
                      "method": "GET",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "get_workspace_context",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/get_workspace_context",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "get_scheduler_settings",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/get_scheduler_settings",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "list_due_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/list_due_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    }
                  ],
                  "instructions": "Read payload from data.* (data.schedulerSettings). Do not expect scheduler settings at the top level. Select the next endpoint from instructions and confirm it with actions.",
                  "docs": {
                    "openapiUrl": "https://api.flashcards-open-source-app.com/v1/agent/openapi.json",
                    "swaggerUrl": "https://api.flashcards-open-source-app.com/v1/agent/swagger.json"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Agent error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/agent/tools/create_cards": {
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "Create cards",
        "description": "Creates one or more cards in the selected workspace. Enforce the flashcard side contract: frontText is a question-only recall prompt (no answer), and backText contains the answer with an optional concrete example (prefer fenced markdown code block when helpful). Sync metadata is generated server-side and is intentionally hidden from the external API.",
        "security": [
          {
            "ApiKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCardsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cards created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentCreateCardsEnvelope"
                },
                "example": {
                  "ok": true,
                  "data": {
                    "cards": [
                      {
                        "cardId": "be8d7f9f-4df4-472b-a1ca-c9cd5a8bc5c8",
                        "frontText": "What is eventual consistency?",
                        "backText": "A model where replicas converge to the same value over time without requiring immediate global consistency.",
                        "tags": [
                          "distributed-systems"
                        ],
                        "effortLevel": "fast",
                        "dueAt": "2026-03-11T09:00:00.000Z",
                        "reps": 3,
                        "lapses": 0,
                        "fsrsCardState": "review",
                        "fsrsStepIndex": null,
                        "fsrsStability": 12.34,
                        "fsrsDifficulty": 4.56,
                        "fsrsLastReviewedAt": "2026-03-10T09:00:00.000Z",
                        "fsrsScheduledDays": 4,
                        "clientUpdatedAt": "2026-03-10T09:00:00.000Z",
                        "lastModifiedByDeviceId": "58d59a91-3210-4581-ac3a-0f850f0ced6f",
                        "lastOperationId": "agent-op-1",
                        "updatedAt": "2026-03-10T09:00:00.000Z",
                        "deletedAt": null
                      }
                    ],
                    "createdCount": 1
                  },
                  "actions": [
                    {
                      "name": "list_tools",
                      "method": "GET",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "create_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/create_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "list_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/list_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "update_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/update_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    }
                  ],
                  "instructions": "Read payload from data.* (data.cards, data.createdCount). Do not expect mutation results at the top level. Select the next endpoint from instructions and confirm it with actions.",
                  "docs": {
                    "openapiUrl": "https://api.flashcards-open-source-app.com/v1/agent/openapi.json",
                    "swaggerUrl": "https://api.flashcards-open-source-app.com/v1/agent/swagger.json"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Agent error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/agent/tools/update_cards": {
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "Update cards",
        "description": "Updates one or more cards in the selected workspace. For provided text fields, enforce the flashcard side contract: frontText is a question-only recall prompt (no answer), and backText contains the answer with an optional concrete example (prefer fenced markdown code block when helpful). Sync metadata is generated server-side and is intentionally hidden from the external API.",
        "security": [
          {
            "ApiKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCardsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cards updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentUpdateCardsEnvelope"
                },
                "example": {
                  "ok": true,
                  "data": {
                    "cards": [
                      {
                        "cardId": "be8d7f9f-4df4-472b-a1ca-c9cd5a8bc5c8",
                        "frontText": "What is eventual consistency?",
                        "backText": "A model where replicas converge to the same value over time without requiring immediate global consistency.",
                        "tags": [
                          "distributed-systems"
                        ],
                        "effortLevel": "fast",
                        "dueAt": "2026-03-11T09:00:00.000Z",
                        "reps": 3,
                        "lapses": 0,
                        "fsrsCardState": "review",
                        "fsrsStepIndex": null,
                        "fsrsStability": 12.34,
                        "fsrsDifficulty": 4.56,
                        "fsrsLastReviewedAt": "2026-03-10T09:00:00.000Z",
                        "fsrsScheduledDays": 4,
                        "clientUpdatedAt": "2026-03-10T09:00:00.000Z",
                        "lastModifiedByDeviceId": "58d59a91-3210-4581-ac3a-0f850f0ced6f",
                        "lastOperationId": "agent-op-1",
                        "updatedAt": "2026-03-10T09:00:00.000Z",
                        "deletedAt": null
                      }
                    ],
                    "updatedCount": 1
                  },
                  "actions": [
                    {
                      "name": "list_tools",
                      "method": "GET",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "update_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/update_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "get_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/get_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "list_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/list_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    }
                  ],
                  "instructions": "Read payload from data.* (data.cards, data.updatedCount). Do not expect mutation results at the top level. Select the next endpoint from instructions and confirm it with actions.",
                  "docs": {
                    "openapiUrl": "https://api.flashcards-open-source-app.com/v1/agent/openapi.json",
                    "swaggerUrl": "https://api.flashcards-open-source-app.com/v1/agent/swagger.json"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Agent error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/agent/tools/delete_cards": {
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "Delete cards",
        "description": "Deletes one or more cards from the selected workspace. Sync metadata is generated server-side and is intentionally hidden from the external API.",
        "security": [
          {
            "ApiKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCardsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cards deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentDeleteCardsEnvelope"
                },
                "example": {
                  "ok": true,
                  "data": {
                    "deletedCardIds": [
                      "be8d7f9f-4df4-472b-a1ca-c9cd5a8bc5c8"
                    ],
                    "deletedCount": 1
                  },
                  "actions": [
                    {
                      "name": "list_tools",
                      "method": "GET",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "delete_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/delete_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "list_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/list_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "create_cards",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/create_cards",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    }
                  ],
                  "instructions": "Read payload from data.* (data.deletedCardIds, data.deletedCount). Do not expect deletion results at the top level. Select the next endpoint from instructions and confirm it with actions.",
                  "docs": {
                    "openapiUrl": "https://api.flashcards-open-source-app.com/v1/agent/openapi.json",
                    "swaggerUrl": "https://api.flashcards-open-source-app.com/v1/agent/swagger.json"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Agent error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/agent/tools/create_decks": {
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "Create decks",
        "description": "Creates one or more decks in the selected workspace. Sync metadata is generated server-side and is intentionally hidden from the external API.",
        "security": [
          {
            "ApiKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDecksInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Decks created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentCreateDecksEnvelope"
                },
                "example": {
                  "ok": true,
                  "data": {
                    "decks": [
                      {
                        "deckId": "db4e9fa3-6e56-4355-a35d-58bb0ef6f0e9",
                        "workspaceId": "50b5b928-7f04-4cc8-878d-6cd0e8b98474",
                        "name": "Distributed Systems",
                        "filterDefinition": {
                          "version": 2,
                          "effortLevels": [
                            "fast"
                          ],
                          "tags": [
                            "distributed-systems"
                          ]
                        },
                        "createdAt": "2026-03-10T10:00:00.000Z",
                        "clientUpdatedAt": "2026-03-10T10:00:00.000Z",
                        "lastModifiedByDeviceId": "58d59a91-3210-4581-ac3a-0f850f0ced6f",
                        "lastOperationId": "agent-deck-op-1",
                        "updatedAt": "2026-03-10T10:00:00.000Z",
                        "deletedAt": null
                      }
                    ],
                    "createdCount": 1
                  },
                  "actions": [
                    {
                      "name": "list_tools",
                      "method": "GET",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "create_decks",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/create_decks",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "list_decks",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/list_decks",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    },
                    {
                      "name": "update_decks",
                      "method": "POST",
                      "url": "https://api.flashcards-open-source-app.com/v1/agent/tools/update_decks",
                      "auth": {
                        "scheme": "ApiKey"
                      }
                    }
                  ],
                  "instructions": "Read payload from data.* (data.decks, data.createdCount). Do not expect mutation results at the top level. Select the next endpoint from instructions and confirm it with actions.",
                  "docs": {
                    "openapiUrl": "https://api.flashcards-open-source-app.com/v1/agent/openapi.json",
                    "swaggerUrl": "https://api.flashcards-open-source-app.com/v1/agent/swagger.json"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Agent error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/agent/tools/update_decks": {
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "Update decks",
        "description": "Updates one or more decks in the selected workspace. Sync metadata is generated server-side and is intentionally hidden from the external API.",
        "security": [
          {
            "ApiKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
[...]
